p {
  cursor: pointer;
}
.btn {
  display: flex;
  align-items: center;
  // background-color: rgb(189, 52, 52);
  color: white; 
  box-shadow: none; 
  border: none;
  margin: 0 0 0px 50px;
  font-family: Arial Nova, Arial, sans-serif;
}

  
p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  margin: auto;
  padding-bottom: 3%;
}

.clicked {
  border-bottom: 2.5px solid white;
  border-radius: 10px 10px 0 0; /* Arriba redondeado, los otros valores para los lados */
  padding-bottom: 4px; 
}

.clickedModel {
  border-bottom: 2.5px solid white;
  border-radius: 10px 10px 0 0; /* Arriba redondeado, los otros valores para los lados */
  padding-bottom: 4px; 
}

.clickedSoluciones {
  border-bottom: 2.5px solid white;
  border-radius: 10px 10px 0 0; /* Arriba redondeado, los otros valores para los lados */
  padding-bottom: 4px; 
}

.clickedBlog {
  border-bottom: 2.5px solid white;
  border-radius: 10px 10px 0 0; /* Arriba redondeado, los otros valores para los lados */
  padding-bottom: 4px; 
}

.clickedContact {
  border-bottom: 2.5px solid white;
  border-radius: 10px 10px 0 0; /* Arriba redondeado, los otros valores para los lados */
  padding-bottom: 4px; 
}


.navbar-nav .nav-item .nav-link p {
  font-family: Arial Nova, Arial, sans-serif;
}
.underline, .underlineModel, .underlineSoluciones, .underlineBlog, .underlineContact {
  text-decoration: none;
}

// Dispositivos Móviles Pequeños (menos de 600px)
@media (min-width: 320px) and (max-width: 599px) {
  .container-fluid {
    border: 2px solid blue;
  }

  .logoSL {
    width: 40% !important;
  }
}

// Dispositivos Móviles Grandes (600px a 767px)
@media (min-width: 600px) and (max-width: 767px) {

}

// Tabletas (768px a 1024px)
@media (min-width: 768px) and (max-width: 1024px) {
  
}

// Portátiles y Escritorios Pequeños (1025px a 1366px)
@media (min-width: 1025px) and (max-width: 1366px) {
  
}
// Escritorios Grandes (más de 1366px)
@media (min-width: 1367px) {
  
}