p {
  cursor: pointer;
}
.btn {
  display: flex;
  align-items: center;
  // background-color: rgb(189, 52, 52);
  color: white; 
  box-shadow: none; 
  border: none;
  margin: 0 0 0px 50px;
  font-family: Arial Nova, Arial, sans-serif;
  
}

body {
  overflow-x: hidden;
}
  

p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  margin: auto;
  padding-bottom: 3%;
}

.clicked {
  border-bottom: 2.5px solid white;
  border-radius: 10px 10px 0 0; /* Arriba redondeado, los otros valores para los lados */
  padding-bottom: 4px; 
}

.clickedModel {
  border-bottom: 2.5px solid white;
  border-radius: 10px 10px 0 0; /* Arriba redondeado, los otros valores para los lados */
  padding-bottom: 4px; 
}

.clickedSoluciones {
  border-bottom: 2.5px solid white;
  border-radius: 10px 10px 0 0; /* Arriba redondeado, los otros valores para los lados */
  padding-bottom: 4px; 
}

.clickedBlog {
  border-bottom: 2.5px solid white;
  border-radius: 10px 10px 0 0; /* Arriba redondeado, los otros valores para los lados */
  padding-bottom: 4px; 
}

.clickedContact {
  border-bottom: 2.5px solid white;
  border-radius: 10px 10px 0 0; /* Arriba redondeado, los otros valores para los lados */
  padding-bottom: 4px; 
}