/* Contenedor del popup */
.popup-container {
    position: fixed; /* Para mantener el popup fijo en la pantalla */
    top: 15%; /* Ajusta esta propiedad para mostrar el popup un poco más abajo */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, 0); /* Centra el popup completamente en pantalla */
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 100%; /* Ocupa toda la altura disponible */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente oscuro */
    display: flex; /* Para alinear el contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: flex-start; /* Alinea verticalmente al inicio */
    z-index: 1000; /* Asegura que esté encima de otros elementos */
    backdrop-filter: blur(20px); /* Aplica un filtro de desenfoque al fondo */
}

/* Contenido del popup */
.popup-content {
    background-color: #ffffff; /* Fondo blanco del contenido del popup */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    max-width: 80%; /* Ancho máximo del contenido del popup */
    max-height: 80%; /* Altura máxima del contenido del popup */
    overflow: auto; /* Habilita el desplazamiento si el contenido es más grande */
    display: flex; /* Habilita Flexbox */
    flex-direction: column; /* Alinea los elementos en una columna */
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra horizontalmente el contenido */
    text-align: justified; /* Centra el texto */
    top: 30%;
}

/* Botón de cierre del popup */
.close-button {
    position: absolute; /* Para posicionarse absolutamente en el popup */
    top: 0px; /* Distancia desde la parte superior */
    right: 150px; /* Distancia desde la derecha */
    font-size: 30px; /* Tamaño del texto */
    cursor: pointer; /* Cambia el cursor a mano para indicar que es clickeable */
}
