<div class="contenido" style="background-color: rgb(255, 255, 255);">
    <!-- Fondo de mujer y texto -->
    <div class="fondopermujer" style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center; width: 100%; height: 1600px; margin-top: -90px; background-color: transparent;">
        <!-- Logo con posición ajustable manualmente -->
        <div class="text-center" style="width: 100%; position: relative;">
            <img src="assets/imagenes/BUSINESS-S_IMG/LOGO%20BUSINESS%20STRATEGY.svg" alt="Logo" width="400" height="auto" style="position: absolute; top: 125px; left: 59%; transform: translateX(-50%);">
        </div>
        <!-- Contenido principal con imagen y texto -->
        <div style="display: flex; justify-content: space-between; align-items: flex-start; width: 100%; height: 100%; position: relative; top: 250px;">
            <!-- Imagen de la mujer -->
            <div data-aos="fade-right" style="background: url(../../../assets/imagenes/BUSINESS-S_IMG/CHICA%20BUSINESS%20STRATEGY-8.png) no-repeat; background-size: contain; width: 100%; height: 100%; margin-left: -480px; margin-top: -250px;">
            </div>
            <!-- Texto con fondo purpura -->
            <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; width: 70%; background-color: transparent;">
                <div style="display: flex; justify-content: flex-end; align-items: center; width: 100%; height: 50px; background-color: #DE1A4D; padding: 20px; margin-right: 10px; margin-top: 25px;">
                    <p style="z-index: 2; color: white; font-size: 30px; font-family: 'Century Gothic'; text-align: left; margin: 0; padding-left: 0px;">
                        Implicación en el negocio y la innovación.
                    </p>
                </div>                              
                <!-- Texto adicional -->
                <div style="display: flex; justify-content: flex-end; align-items: center; width: 100%; height: auto; background-color: transparent; padding: 20px; margin-left: -2%; margin-top: 10px;">
                    <p style="z-index: 2; color: black; font-size: 25px; font-family: 'Century Gothic'; text-align: left; margin: 0;">
                        <strong>ACTIVAMOS insights</strong> <br> en oportunidades de negocio; conectando data con pensamiento estratégico, generando caminos únicos y relevantes.  
                    </p>
                </div>
                
<!-- Línea 1 -->
<div style="border-top: 2px solid #707175; width: 100%; margin-left: -200px; position: relative; margin-top: 70px;">
    <div style="position: absolute; top: 50%; transform: translate(-50%, -50%); left: 40%; text-align: center; margin-top: 85px;">
        <img src="assets/imagenes/BUSINESS-S_IMG/CIRCULOFUCCIA.svg" alt="Imagen 1" style="width: 50px; height: auto;">
        <p style="color: black; font-size: 20px; font-family: 'Arial Nova', 'Century Gothic', sans-serif; margin-top: 5px; text-align: center;">
            <strong>Modelos de <br> posicionamiento, <br> <span style="color: #DE1A4D;">comunicación e innovación</span> <br> con base en storytelling y <br> territorio arquetipal.</strong>
        </p>
    </div>

    <div style="position: absolute; top: 50%; transform: translate(50%, -50%); right: 0%; text-align: center; margin-top: 85px;">
        <img src="assets/imagenes/BUSINESS-S_IMG/CIRCULOFUCCIA.svg" alt="Imagen 2" style="width: 50px; height: auto;">
        <p style="color: black; font-size: 20px; font-family: 'Arial Nova', 'Century Gothic', sans-serif; margin-top: 5px; text-align: center;">
            <strong>
                <span style="color: #DE1A4D;">Integración </span> de la <br> investigación y  la estrategia <br> para Identificación y <br> activación de conexiones poderosas <br> a largo plazo.
            </strong>
        </p>
    </div>
</div>

<!-- Línea 2 -->
<div style="border-top: 2px solid #707175; width: 100%; margin-left: 0px; position: relative; margin-top: 250px;">
    <div style="position: absolute; top: 50%; transform: translate(-50%, -50%); left: 0%; text-align: center; margin-top: 70px;">
        <img src="assets/imagenes/BUSINESS-S_IMG/CIRCULOFUCCIA.svg" alt="Imagen 1" style="width: 50px; height: auto;">
        <p style="color: black; font-size: 20px; font-family: 'Arial Nova', 'Century Gothic', sans-serif; margin-top: 5px; text-align: center;">
            <strong><span style="color: #DE1A4D;">Definición </span> el terreno en <br> donde se mueve la <br> marca / su propósito / su <br> voz.</strong>
        </p>
    </div>

    <div style="position: absolute; top: 50%; transform: translate(50%, -50%); right: 40%; text-align: center; margin-top: 70px;">
        <img src="assets/imagenes/BUSINESS-S_IMG/CIRCULOFUCCIA.svg" alt="Imagen 2" style="width: 50px; height: auto;">
        <p style="color: black; font-size: 20px; font-family: 'Arial Nova', 'Century Gothic', sans-serif; margin-top: 5px; text-align: center;">
            <strong><span style="color: #DE1A4D;">Integración y alineación </span> de los <br> territorios y las narrativas en <br> los diferentes actore de salida <br> a los mercados.</strong>
        </p>
    </div>
</div>

<!-- Línea 3 -->
<div style="border-top: 2px solid #707175; width: 100%; margin-left: -440px; position: relative; margin-top: 250px;">
    <div style="position: absolute; top: 50%; transform: translate(-50%, -50%); left: 50%; text-align: center; margin-top: 70px;">
        <img src="assets/imagenes/BUSINESS-S_IMG/CIRCULOFUCCIA.svg" alt="Imagen 3" style="width: 50px; height: auto;">
        <p style="color: black; font-size: 20px; font-family: 'Arial Nova', 'Century Gothic', sans-serif; margin-top: 5px; text-align: center;">
            <strong>Activación de espacios para <br> la <span style="color: #DE1A4D;">ideación, co-creación </span> y <br> definición de conceptos <br> poderosos y únicos.</strong>
        </p>
    </div>

    <div style="position: absolute; top: 50%; transform: translate(50%, -50%); right: 0%; text-align: center; margin-top: 55px;">
        <img src="assets/imagenes/BUSINESS-S_IMG/CIRCULOFUCCIA.svg" alt="Imagen 4" style="width: 50px; height: auto;">
        <p style="color: black; font-size: 20px; font-family: 'Arial Nova', 'Century Gothic', sans-serif; margin-top: 5px; text-align: center;">
            <strong>Entendimiento de los canales <br> activando  <span style="color: #DE1A4D;">propuestas <br>  potentes </span>y de valor.</strong>
        </p>
    </div>
</div>


<!-- Texto debajo de la Línea 3 con botón -->
<div style="margin-top: 200px; text-align: center; display: flex; justify-content: center; align-items: center;">
    <p style="color: black; font-size: 24px; font-family: 'Century Gothic bold', 'Century Gothic', sans-serif; margin-right: 20px;">
        <strong>Conoce nuestras <br> soluciones</strong>
    </p>
    <button (click)="openPopup()" style="width: 200px; height: 60px; font-size: 20px; background: #DE1A4D; border: none; border-radius: 50px; color: #ffffff; outline: none; cursor: pointer; transition: all 0.4s;">
        Aquí
    </button>
</div>

<!-- Contenedor del popup -->
<div *ngIf="isPopupVisible" class="popup-container">
    <div class="popup-content">
        <span class="close-button" (click)="closePopup()">&times;</span>
        
        <!-- Lista de viñetas -->
        <div class="columns-container">
            <!-- Primera columna -->
            <div class="column">
                <ul>
                    <li>
                        <img src="assets/imagenes/BUSINESS-S_IMG/CIRCULOFUCCIA.svg" alt="Viñeta">
                        <div>
                            <strong>Brand Voice</strong> <br>
                            Punto de vista de la marca / Rol.
                        </div>
                    </li>
                    <li>
                        <img src="assets/imagenes/BUSINESS-S_IMG/CIRCULOFUCCIA.svg" alt="Viñeta">
                        <div>
                            <strong>Brief Boosting</strong> <br>
                            Enriquecimiento de brief para comunicación.
                        </div>
                    </li>
                    <li>
                        <img src="assets/imagenes/BUSINESS-S_IMG/CIRCULOFUCCIA.svg" alt="Viñeta">
                        <div>
                            <strong>Speech Boosting</strong> <br>
                            Enriquecimiento de discurso comercial.
                        </div>
                    </li>
                    <li>
                        <img src="assets/imagenes/BUSINESS-S_IMG/CIRCULOFUCCIA.svg" alt="Viñeta">
                        <div>
                            <strong>Brand Therapy</strong> <br>
                            Alineación entre marca/negocio y personas.
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Segunda columna -->
            <div class="column">
                <ul>
                    <li>
                        <img src="assets/imagenes/BUSINESS-S_IMG/CIRCULOFUCCIA.svg" alt="Viñeta">
                        <div>
                            <strong>Concept Ignition</strong> <br>
                            Co - creación de conceptos.
                        </div>
                    </li>
                    <li>
                        <img src="assets/imagenes/BUSINESS-S_IMG/CIRCULOFUCCIA.svg" alt="Viñeta">
                        <div>
                            <strong>Concept Tweak</strong> <br>
                            Escritura de conceptos.
                        </div>
                    </li>
                    <li>
                        <img src="assets/imagenes/BUSINESS-S_IMG/CIRCULOFUCCIA.svg" alt="Viñeta">
                        <div>
                            <strong>Brand Space</strong> <br>
                            Definición de territorio de marca.
                        </div>
                    </li>
                    <li>
                        <img src="assets/imagenes/BUSINESS-S_IMG/CIRCULOFUCCIA.svg" alt="Viñeta">
                        <div>
                            <strong>Brand Develop</strong> <br>
                            Definición de segmento de oportunidad.
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Tercera columna -->
            <div class="column">
                <ul>
                <li>
                    <img src="assets/imagenes/BUSINESS-S_IMG/CIRCULOFUCCIA.svg" alt="Viñeta">
                    <div>
                        <strong>InnovaThor</strong> <br>
                        Procesos de innovación.
                    </div>
                </li>
                <li>
                    <img src="assets/imagenes/BUSINESS-S_IMG/CIRCULOFUCCIA.svg" alt="Viñeta">
                    <div>
                        <strong>Brand Gold</strong> <br>
                        Desarrollo de propuesta de valor.
                    </div>
                </li>
                    <li>
                        <img src="assets/imagenes/BUSINESS-S_IMG/CIRCULOFUCCIA.svg" alt="Viñeta">
                        <div>
                            <strong>Brand Connect</strong> <br>
                            Desarrollo de planes de comunicación.
                        </div>
                    </li>
                    <li>
                        <img src="assets/imagenes/BUSINESS-S_IMG/CIRCULOFUCCIA.svg" alt="Viñeta">
                        <div>
                            <strong>Brand Devotion</strong> <br>
                            Desarrollo de planes de fidelización.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</div>

<!-- Texto Business y Cultura con botón -->
<div style="position: absolute; top: 75%; width: 100%; display: flex; justify-content: center; align-items: flex-start; gap: 150px; margin-left: -550px;">
    <!-- Columna 1 -->
    <div style="flex-basis: 400px; flex-grow: 0; text-align: center; margin-left: 0px;">
        <p style="color: black; font-size: 24px; font-family: 'Arial Nova bold', 'Century Gothic', sans-serif; margin-bottom: 10px;">
            <strong>DISCOVERY</strong>
        </p>
        <p style="color: black; font-size: 18px; font-family: 'Arial Nova', 'Century Gothic', sans-serif;">
            Detección de INSIGHTS validando <br> caminos y mapas de oportunidades.
        </p>
        <div style="margin-top: 10px;">
            <button [routerLink]="['/discovery']" style="width: 150px; height: 40px; font-size: 16px; background: #DE1A4D; border: none; border-radius: 30px; color: #ffffff; outline: none; cursor: pointer; transition: all 0.4s;">
                Ver más
            </button>
        </div>
    </div>

    <!-- Columna 2 -->
    <div style="flex-basis: 450px; flex-grow: 0; text-align: center; margin-right: 0px;">
        <p style="color: black; font-size: 24px; font-family: 'Arial Nova bold', 'Century Gothic', sans-serif; margin-bottom: 10px;">
            <strong>CULTURA EXPONENCIAL</strong>
        </p>
        <p style="color: black; font-size: 18px; font-family: 'Arial Nova', 'Century Gothic', sans-serif;">
            Humanización de cultura, procesos y <br> equipos. Desarrollo de habilidades del <br> futuro y su implicación.
        </p>
        <div style="margin-top: 10px;">
            <button [routerLink]="['/cultura-x']" style="width: 150px; height: 40px; font-size: 16px; background: #DE1A4D; border: none; border-radius: 30px; color: #ffffff; outline: none; cursor: pointer; transition: all 0.4s;">
                Ver más
            </button>
        </div>
    </div>
</div>
                
            </div>
        </div>
    </div>

    <!-- formulario normal-->
    <div id="seccion-hablemos"
    style="background-image: url('/assets/videos/fondo2.gif'); height: 800px; background-size: cover;  background-color :#FFFFFF;">
    <!-- Primera fila -->
    <div class="container-fluid"
    style="display: flex; justify-content: center; align-items: center; padding: 30px; height: 100%;">
    <div class="row"
        style="background-color: transparent; font-family: 'Arial Nova', Arial, sans-serif; height: 100%; width: 100%; border: 2px solid #00000000;">

        <div class="col-md-7 "
        style="display: block; align-content: center; justify-content: center; background-color: transparent; border: 2px solid rgba(255, 0, 0, 0); height: 100%;">
        <div
            style="display: flex; justify-content: center; align-items: left; flex-direction: column; padding: 30px; text-align: left; color: white; border: 2px solid #14a5f800; font-size: 20px; font-family : 'Century Gothic'; height: 95%; ">
            <br>
            <br><br><br><br><br>
            <p
            style="font-family: 'Arial Nova', Arial, sans-serif; font-size: 22px; line-height: 1.3;"><strong>La
                versatilidad de nuestro modelo de trabajo</strong>
            nos <br> permite adaptarnos a las necesidades de
            nuestros <br> aliados, ofreciéndoles soluciones con un
            impacto<br> <strong>“END TO END”</strong> que genera valor en
            toda la cadena<br> del negocio.</p>
            <br>
            <p
            style="font-size: 25px; font-family:'Arial Nova', Arial, sans-serif; margin-left: 5px; z-index: 2; margin-bottom: 8px;"><strong>¿Cuál
                es tu desafío?</strong></p>

            <!-- linea roja de titulo -->
            <img
            style="position: absolute; left: 2%; margin-top: 7.5%; width: 32%;"
            src="../../../assets/imagenes/linea-roja.svg" alt>

            <div style="margin-top: 7px; gap: 8%;">
            <input class="form-check-input" type="checkbox" value
                id="flexCheckDefault-1"><label class="form-check-label"
                style="font-family: 'Arial Nova', Arial, sans-serif;"
                for="flexCheckDefault">Quiero que mí carrera extienda su
                potencial.</label>
            <br>
            <input class="form-check-input" type="checkbox" value
                id="flexCheckDefault-2"><label class="form-check-label"
                style="font-family: 'Arial Nova', Arial, sans-serif;"
                for="flexCheckDefault">Es momento de transformar nuestra
                cultura.</label>
            <br>
            <input class="form-check-input" type="checkbox" value
                id="flexCheckDefault-3"><label class="form-check-label"
                style="font-family: 'Arial Nova', Arial, sans-serif;"
                for="flexCheckDefault">Necesitamos humanizar nuestros
                líderes.</label>
            <br>
            <input class="form-check-input" type="checkbox" value
                id="flexCheckDefault-4"><label class="form-check-label"
                style="font-family: 'Arial Nova', Arial, sans-serif;"
                for="flexCheckDefault">Fortalecer nuestra propuesta de
                valor.</label>
            <br>
            <input class="form-check-input" type="checkbox" value
                id="flexCheckDefault-5"><label class="form-check-label"
                style="font-family: 'Arial Nova', Arial, sans-serif; margin-top: 5px;"
                for="flexCheckDefault"><p style="line-height: 1;">Los resultados
                nos evidencian una necesidad de <br> fortalecer nuestra
                propuesta de valor.</p></label>
            <br>
            <input class="form-check-input" type="checkbox" value
                id="flexCheckDefault-6"><label class="form-check-label"
                style="font-family: 'Arial Nova', Arial, sans-serif; margin-top: 5px;"
                for="flexCheckDefault"><p style="line-height: 1;">Los
                movimientos del mercado nos piden ser más <br> disruptivos en
                nuestra innovación.</p></label>
            <br>
            <input class="form-check-input" type="checkbox" value
                id="flexCheckDefault-7"><label class="form-check-label"
                style="font-family: 'Arial Nova', Arial, sans-serif; margin-top: 5px;"
                for="flexCheckDefault"><p style="line-height: 1;">Llego el
                momento de desarrollar las habilidades <br> de nuestro equipo
                para un mejor desempeño y liderazgo.</p></label>
            </div>
        </div>
        </div>

        <div class="col-md-5"
        style="display: block; align-content: center; justify-content: right; border: 2px solid #e0181800; ">

        <div class=" "
            style=" display: flex; flex-direction: column; padding-right: 25px; justify-content: center; align-items: center;  background-color: transparent; height: 70%; margin-right: -75px; margin-top: 130px; border: 2px solid #0000ff00">

            <input type="text" class="form-control" placeholder="Nombre"
            style="background-color: transparent; color: white;">
            <input type="text" class="form-control" placeholder="E-mail"
            style="background-color: transparent; color: white;">
            <input type="text" class="form-control" placeholder="Celular"
            style="background-color: transparent; color: white;">

            <textarea name id cols="30" class="text-area"
            placeholder="Profundiza sobre tu reto" rows="8"
            style="background-color: transparent; color: white;"></textarea>
            <div
            style="border: 2px solid rgba(255, 0, 0, 0); width: 65%; margin-top: 8px;">
            <p
                style="background-color: transparent; color: white; text-align: left; font-size: 14px; line-height: 1;">Al
                llenar este formulario aceptas el tratamiento de
                <br>datos,conoce nuestra politica de datos <a
                style="font-weight: bold; text-decoration: none; color: white;"
                href="#">aqui</a></p>

            <button type="button" class="btn btn-secondary"
                style="background: white; width: 100px; padding: 5px; color: red; font-weight: bold; margin-top: 15px;">Enviar</button>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>

</div>
