* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
.detras {
  z-index: 1;
}
.videoI{
  width: 100%;
}
.form-control {
  width: 65% ;
  height: 16%;
  padding: 16px;
  margin-bottom: 15px; 
  border-radius: 8px;
}
.text-area {
  width: 65%;
  resize: none;
  border: 1.5px solid silver;
  border-radius: 8px;
  height: 65%;
  padding: 15px;
}
.form-control:focus .text-area:focus {
  outline: none;
  box-shadow: none;
  border-color: transparent; 
}
.form-check-input {
  padding: 4px;
  border-radius: 100%;
  margin-top: 6px;
  width: 20px; /* Ajusta el ancho del checkbox */
  height: 16px; /* Ajusta la altura del checkbox */
}
.form-check-label {
  margin-bottom: 6px;
  margin-left: 30px;
}
::placeholder {
  color: white;
}
.responsive {
  display: none !important; 
  visibility: hidden;
}
.normal {
  display: block !important;
  visibility: visible;
}
#seccion-hablemos {
  display: flex;
}
#seccion-hablemos2 {
  display: none;
}
.banner {
  position: fixed;
  /* Ajusta la posición izquierda según tu diseño */
  top: 38%; /* Centra verticalmente el banner */
  right: 0; /* Coloca el banner en el lado derecho */
  transform: translateY(-50%);
  padding: 0.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  background-color: #625e5e; /* Color de fondo gris para el banner */
  background-color: rgba(
    98,
    94,
    94,
    0.7
  ); /* Color de fondo gris con 70% de opacidad */
  border-radius: 10px; /* Radio de los bordes de 10px para hacerlos redondos */
}
.fondoGris {
  width: 500px; /* Ajusta el ancho según sea necesario */
  height: 300px;
  //background-image: url('../assets/imagenes/slides/f_banner_1_sm.jpg'); /* Ruta de tu imagen */
  color: rgb(
    255,
    255,
    255
  ); /* Ajusta el color del texto para que sea legible sobre la imagen */
  text-align: center; /* Ajusta la alineación del texto */
  padding: 20px;
}
.redes-sociales {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column; /* Cambia a 'row' si quieres los iconos en una fila */
  align-items: center;
}
.redes-sociales li {
  margin: 5px; /* Espacio entre los iconos */
}
.redes-sociales img {
  width: 40px; /* Ajusta el tamaño de los iconos según tus necesidades */
  height: 40px;
}
.animate-text {
  opacity: 0; /* Inicialmente invisible */
  animation: fadeIn 5s forwards; /* Animación de fade-in */
}

  // Insights y Arquetipos
  .insightsVis {
    display: block;
  }
  .insightsOcul {
    display: none;
  }
  .textoElInsightOcul2 {
    display: none;
  }
  .textoPatronescul {
    display: none;
  }


// Dispositivos Móviles Pequeños (menos de 600px)
@media (min-width: 320px) and (max-width: 599px) {
  // .contenido {
  //   overflow-x: hidden !important;
  // }

  // formulario
  #seccion-hablemos {
    display: none;
  }
  #seccion-hablemos2 {
    display: block;
    background-image: url('/assets/videos/fondo2.gif'); 
    height: 1700px !important; 
    background-size: cover; 
    background-color :#FFFFFF;
    margin-top: -80px;
    width: 100%;
  }
  .containerF {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px !important;
    height: 100%;
  }
  .versati {
    text-align: center !important;
  }
  .desafio {
    text-align: center !important;
  }
  .lineaRoja {
    position: absolute !important;
    left: 15.5% !important;
    margin-top: -10% !important;
    width: 70% !important;
  }
  .containerPrin {
    height: 100% !important;
  }
  .contHijo {
    height: 100% !important;
  }
  .rowss {
    height: auto !important;
  }
  .princ {
    justify-content: center !important;
    // border: 2px solid #eeea0f !important;
  }  
  .formulario {
    // border: 2px solid #b700ff;
    margin-top: 0px !important;
    height: 90% !important;
    margin: 0px !important;
    gap: 8px;
    padding-right: 0 !important;
  }
  .form-control {
    width: 85% ;
    height: 14%;
    padding: 16px;
    margin-bottom: 15px; 
    border-radius: 8px;
  }
  .text-area {
    width: 85%;
    resize: none;
    border: 1.5px solid silver;
    border-radius: 8px;
    height: 65%;
    padding: 15px;
  }
  .form-check-input {
    padding: 5px !important;
    border-radius: 100%;
    margin-top: 8px !important;
    width: 18px;
    height: 20px;
  }
  .tratamiento {
    text-align: center !important;
    width: 70% !important;
    // border: 2px solid yellowgreen !important;
  }
  .tratamiento > p {
    text-align: center !important;
  } 
  // fondo de ojo
  .fondoOjo {
    background: url(../../../assets/imagenes/ojoBanner.png); 
    background-size: 100% 100% !important; 
    background-position: center;
    width: 100% !important; 
    height: 100% !important; 
  }
  // Insights y Arquetipos
  .insightsVis {
    display: none;
  }
  .insightsOcul {
    display: block;
    padding: 55px 30px 55px 30px;
  }
  // elInsight
  .elInsight {
    // border: 2px solid blue;
    background-color: #ffffff;
    margin-left: auto !important;
    margin-right: auto !important;

    width: 90% !important;
  }
  .bolaIns {
    z-index: 1; position: absolute; 
    height: 16% !important;  
    width: 10% !important; 
    left: 15px !important;;
    margin-top: -40px !important;
  }
  .bolaLos {
    z-index: 1; position: absolute; 
    height: 14% !important;  
    width: 14% !important; 
    left: 16px !important;;
    margin-top: -35px !important;
  }
  .tituloElInsight {
    text-align: left !important;
    font-size: 24px !important;
    margin-left: 12px;
  }
  .textoElInsight {
    display: none;
    font-size: 20px !important;
  }
  .textoElInsightOcul {
    display: block;
    font-size: 20px !important;
    margin-left: 40px !important;
    margin-right: 20px !important;
  }
  // patrones
  .textoPatrones {
    display: none;
    font-size: 20px !important;
  }
  .textoPatronescul {
    display: block;
    font-size: 20px !important;
    margin-left: 60px !important;
    margin-right: 20px !important;
  }
  .textoElInsightOcul2 {
    display: block;
    font-size: 20px !important;
    margin-left: 40px !important;
    margin-right: 20px !important;
  }
  .detras {
    z-index: 1;
    height: 3.5%; 
    width: 60.5% !important; 
    margin-top: -35% !important; 
    background-color: #ff6112d2;
  }
  .sectionInsight {
    height: 250px !important;
    margin-top: 0px !important;
    // border: 2px solid red;
  }
  .videoContainer {
    display: flex; 
    justify-content: center; 
    align-content: center; 
    border-top-left-radius: 90px !important; 
    border-top-right-radius: 90px !important; 
    border-left: 4px solid #FF6012; 
    border-top: 4px solid #FF6012; 
    border-right: 4px solid #FF6012; 
    width: 75% !important;
  }
  .videoI {
    border-top-left-radius: 90px !important; 
    border-top-right-radius: 90px !important;
  }
  .btnContact {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 10px; 
    height: 20%;
  }
  .btnVolver {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 0px !important;
    margin-bottom: 8px; 
    height: 20%;
  }
  .btnContact > button {
    padding-top: 6px !important; 
    font-size: 18px !important; 
    padding-bottom: 6px !important; 
    padding-left: 20px !important; 
    padding-right: 20px !important; 
    border-radius: 20px !important; 
    font-weight: bold !important;
    background-color: #F7003E;
  }
  .btnVolver > a {
    padding-top: 6px !important; 
    font-size: 18px !important; 
    padding-bottom: 6px !important; 
    padding-left: 20px !important; 
    padding-right: 20px !important; 
    font-weight: bold !important;
    border-radius: 20px !important; 
  }

}

// Dispositivos Móviles Grandes (600px a 767px)
@media (min-width: 600px) and (max-width: 767px) {

}

// Tabletas (768px a 1024px)
@media (min-width: 768px) and (max-width: 1024px) {
  // .contenido {
  //   background-color: #868482 !important;
  // }

    // formulario
    #seccion-hablemos {
      display: none;
    }
    #seccion-hablemos2 {
      display: block;
      background-image: url('/assets/videos/fondo2.gif'); 
      height: 1420px !important; 
      background-size: cover; 
      background-color :#FFFFFF;
      margin-top: -80px;
      width: 100%;
    }
    .containerF {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px !important;
      height: 100%;
    }
    .versati {
      text-align: center !important;
    }
    .desafio {
      text-align: center !important;
    }
    .lineaRoja {
      position: absolute !important;
      left: 32% !important;
      margin-top: 8% !important;
      width: 35% !important;
    }
    .containerPrin {
      width: 90% ;
      height: 100% !important;
      // border: 2px solid blue !important;

    }
    .contHijo {
      height: 100% !important;
      // border: 2px solid #14eaf1 !important;
    }
    .rowss {
      display: flex;
      justify-content: center;
      height: auto !important;
    }
    .princ {
      width: 90% ;
      height: 100% !important;
      // border: 2px solid blue !important;
      justify-content: center !important;
    }  
    .col-md-5 {
      flex: none !important;
      max-width: 65% !important;
    }
    .formulario {
      // border: 2px solid #b700ff;
      margin-top: 0px !important;
      height: 90% !important;
      width: 100%;
      margin: 0px !important;
      gap: 8px;
      padding-right: 0 !important;
    }
    .form-control {
      width: 100% ;
      height: 14%;
      padding: 16px;
      margin-bottom: 15px; 
      border-radius: 8px;
    }
    .text-area {
      width: 100%;
      resize: none;
      border: 1.5px solid silver;
      border-radius: 8px;
      height: 65%;
      padding: 15px;
    }
    .form-check-input {
      padding: 5px !important;
      border-radius: 100%;
      margin-top: 8px !important;
      width: 18px;
      height: 20px;
    }
    .tratamiento {
      text-align: center !important;
      width: 100% !important;
      // border: 2px solid yellowgreen !important;
    }
    .tratamiento > p {
      text-align: center !important;
    } 
    // fondo de ojo
    .fondoOjo {
      background: url(../../../assets/imagenes/ojoBanner.png); 
      background-size: 100% 100% !important; 
      background-position: center;
      width: 100% !important; 
      height: 365px !important; 
    }
    // Insights y Arquetipos
    .insightsVis {
      display: none;
    }
    .insightsOcul {
      display: block;
      padding: 55px 30px 55px 30px;
      font-size: 26px !important;
    }
    // elInsight
    .elInsight {
      background-color: #ffffff;
      margin-left: 65px !important;
      width: 90% !important;
    }
    .bolaIns {
      z-index: 1;
      position: absolute;
      height: 10% !important;
      width: 7% !important;
      left: 47px !important;
      margin-top: -45px !important;
    }
    .bolaLos {
      z-index: 1;
      position: absolute;
      height: 14% !important;
      width: 10% !important;
      left: 50px !important;
      margin-top: -65px !important;
    }
    .tituloElInsight {
      text-align: left !important;
      font-size: 28px !important;
      margin-left: 12px;
    }
    .textoElInsight {
      display: none;
      font-size: 20px !important;
    }
    .formModel {
      margin-top: 7px !important;
      gap: 8% !important;
      // border: 2px solid rgb(16, 127, 231) !important;
      margin-left: 50px !important;
    }
    
    .textoElInsightOcul {
      display: block;
      font-size: 20px !important;
      margin-left: 40px !important;
      margin-right: 20px !important;
    }
    // patrones
    .textoPatrones {
      display: none;
      font-size: 20px !important;
    }
    .textoPatronescul {
      display: block;
      font-size: 22px !important;
      margin-left: 70px !important;
      margin-right: 20px !important;
    }
    .textoElInsightOcul2 {
      display: block;
      font-size: 22px !important;
      margin-left: 40px !important;
      margin-right: 20px !important;
    }
    .detras {
      z-index: 1;
      height: 3%; 
      width: 41.3% !important; 
      margin-top: -12% !important; 
      background-color: #ff6112d2;
    }
    .sectionInsight {
      height: 250px !important;
      margin-top: 65px !important;
      // border: 2px solid red;
    }
    .videoContainer {
      display: flex; 
      justify-content: center; 
      align-content: center; 
      border-top-left-radius: 90px !important; 
      border-top-right-radius: 90px !important; 
      border-left: 4px solid #FF6012; 
      border-top: 4px solid #FF6012; 
      border-right: 4px solid #FF6012; 
      width: 75% !important;
    }
    .videoI {
      border-top-left-radius: 90px !important; 
      border-top-right-radius: 90px !important;
    }
    .btnContact {
      display: flex; 
      justify-content: center; 
      align-items: center; 
      padding: 10px; 
      height: 20%;
      margin-top: 50px;
    }
    .btnVolver {
      display: flex; 
      justify-content: center; 
      align-items: center;
      margin-top: 0px !important;
      margin-bottom: 8px; 
      height: 20%;
      margin-top: 55px !important;
      padding: 15px !important;
    }
    .btnContact > button {
      padding-top: 6px !important; 
      font-size: 20px !important; 
      padding-bottom: 6px !important; 
      padding-left: 20px !important; 
      padding-right: 20px !important; 
      border-radius: 20px !important; 
      font-weight: bold !important;
      background-color: #F7003E;
    }
    .btnVolver > a {
      padding-top: 6px !important; 
      padding-bottom: 6px !important; 
      padding-left: 55px !important; 
      padding-right: 55px !important; 
      font-weight: bold !important;
      border-radius: 20px !important; 
      font-size: 22px !important;
    }
}

// Portátiles y Escritorios Pequeños (1025px a 1366px)
@media (min-width: 1025px) and (max-width: 1366px) {
    // .contenido {
  //   background-color: #868482 !important;
  // }

    // formulario
    #seccion-hablemos {
      display: none;
    }
    #seccion-hablemos2 {
      display: block;
      background-image: url('/assets/videos/fondo2.gif'); 
      height: 1900px !important; 
      background-size: cover; 
      background-color :#FFFFFF;
      margin-top: -75px;
      width: 100%;
    }
    .containerF {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px !important;
      height: 100%;
    }
    .versati {
      font-size: 35px !important;
      text-align: center !important;
    }
    .desafio {
      font-size: 40px !important;
      text-align: center !important;
    }
    .lineaRoja {
      position: absolute !important;
      left: 32% !important;
      margin-top: 2% !important;
      width: 35% !important;
    }
    .containerPrin {
      width: 90% ;
      height: 100% !important;
      // border: 2px solid blue !important;
    }
    .contHijo {
      height: 100% !important;
      // border: 2px solid #14eaf1 !important;
    }
    .rowss {
      display: flex;
      justify-content: center;
      height: auto !important;
    }
    .princ {
      width: 90% ;
      height: 100% !important;
      // border: 2px solid blue !important;
      justify-content: center !important;
    }  
    .col-md-5 {
      flex: none !important;
      max-width: 65% !important;
    }
    .formulario {
      // border: 2px solid #b700ff;
      margin-top: 0px !important;
      height: 90% !important;
      width: 100%;
      margin: 0px !important;
      gap: 8px;
      padding-right: 0 !important;
    }
    .form-control {
      width: 100% ;
      height: 40%;
      padding: 30px;
      margin-bottom: 15px; 
      border-radius: 8px;
      font-size: 25px;
    }
    .text-area {
      width: 100%;
      resize: none;
      border: 1.5px solid silver;
      border-radius: 8px;
      height: 65%;
      padding: 15px;
      font-size: 25px;
    }
    .form-check-input {
      padding: 5px !important;
      border-radius: 100%;
      margin-top: 8px !important;
      width: 25px;
      height: 29px;
    }
    .form-check-label {
      margin-left: 35px !important;
    }
    .tratamiento {
      text-align: center !important;
      width: 100% !important;
      // border: 2px solid yellowgreen !important;
    }
    .btn-secondary {
      background: white;
      width: 150px !important;
      padding: 8px !important;
      color: red;
      font-weight: bold;
      font-size: 25px !important;
      margin-top: 15px;
    }
    .tratamiento > p {
      text-align: center !important;
      font-size: 22px !important;
    } 
    // fondo de ojo
    .fondoOjo {
      background: url(../../../assets/imagenes/ojoBanner.png); 
      background-size: 100% 100% !important; 
      background-position: center;
      width: 100% !important; 
      height: 365px !important; 
    }
    // Insights y Arquetipos
    .insightsVis {
      display: none;
    }
    .insightsOcul {
      display: block;
      padding: 0px !important;
      width: 60% !important;
      font-size: 33px !important;
    }
    // elInsight
    .elInsight {
      background-color: #ffffff;
      margin-left: 65px !important;
      width: 90% !important;
      margin-top: 100px;
    }
    .bolaIns {
      z-index: 1;
      position: absolute;
      height: 10% !important;
      width: 7% !important;
      left: 160px !important;
      margin-top: -15px !important;
    }
    .bolaLos {
      z-index: 1;
      position: absolute;
      height: 14% !important;
      width: 10% !important;
      left: 150px !important;
      margin-top: -35px !important;
    }
    .tituloElInsight {
      text-align: left !important;
      font-size: 45px !important;
      margin-left: 130px;
    }
    .textoElInsight {
      display: none;
      font-size: 20px !important;
    }
    .formModel {
      margin-top: 30px !important;
      gap: 8% !important;
      // border: 2px solid rgb(16, 127, 231) !important;
      margin-left: 140px !important;
      font-size: 30px !important;
    }
    
    .textoElInsightOcul {
      display: block;
      font-size: 20px !important;
      margin-left: 40px !important;
      margin-right: 20px !important;
    }
    // patrones
    .textoPatrones {
      display: none;
      font-size: 20px !important;
    }
    .textoPatronescul {
      display: block;
      font-size: 30px !important;
      margin-left: 220px !important;
      margin-right: 120px !important;
    }
    .textoElInsightOcul2 {
      display: block;
      font-size: 30px !important;
      margin-left: 180px !important;
      margin-right: 250px !important;
    }
    .detras {
      z-index: 1;
      height: 2%; 
      width: 48% !important; 
      margin-top: -10% !important; 
      background-color: #ff6112d2;
    }
    .sectionInsight {
      height: 250px !important;
      margin-top: 150px !important;
      // border: 2px solid red;
    }
    .videoContainer {
      display: flex; 
      justify-content: center; 
      align-content: center; 
      border-top-left-radius: 200px !important; 
      border-top-right-radius: 200px !important; 
      border-left: 5px solid #FF6012; 
      border-top: 5px solid #FF6012; 
      border-right: 5px solid #FF6012; 
      width: 65% !important;
    }
    .videoI {
      border-top-left-radius: 200px !important; 
      border-top-right-radius: 200px !important;
    }
    .btnContact {
      display: flex; 
      justify-content: center; 
      align-items: center; 
      padding: 10px; 
      height: 20%;
      margin-top: 145px;
    }
    .btnVolver {
      display: flex; 
      justify-content: center; 
      align-items: center;
      margin-top: 0px !important;
      margin-bottom: 8px; 
      height: 20%;
      margin-top: 145px !important;
      padding: 15px !important;
    }
    .btnContact > button {
      padding-top: 7px !important; 
      font-size: 30px !important; 
      padding-bottom: 7px !important; 
      padding-left: 45px !important; 
      padding-right: 45px !important; 
      border-radius: 30px !important; 
      font-weight: bold !important;
      background-color: #F7003E;
    }
    .btnVolver > a {
      padding-top: 7px !important; 
      padding-bottom: 7px !important; 
      padding-left: 65px !important; 
      padding-right: 65px !important; 
      font-weight: bold !important;
      border-radius: 30px !important; 
      font-size: 30px !important;
    }
}
// Escritorios Grandes (más de 1366px)
@media (min-width: 1367px) {
  
}