<div class="contenido" style="background-color: rgb(255, 255, 255);">
    <!-- Fondo de hombre bombillo y texto -->
    <div class="fondohombrebombillo" style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center; width: 100%; height: 1500px; margin-top: -90px; background-color: transparent;">
        <!-- Logo con posición ajustable manualmente -->
        <div class="text-center" style="width: 100%; position: relative;">
            <img src="assets/imagenes/CULTURA-X%20_IMG/CULTURA%20X.svg" alt="Logo" width="300" height="auto" style="position: absolute; top: 125px; left: 53%; transform: translateX(-50%);">
        </div>
        <!-- Contenido principal con imagen y texto -->
        <div style="display: flex; justify-content: space-between; align-items: flex-start; width: 100%; height: 100%; position: relative; top: 250px;">
            <!-- Imagen de la mujer -->
            <div data-aos="fade-right" style="background: url(../../../assets/imagenes/CULTURA-X%20_IMG/HOMBRE%20BOMBILLO-8.png) no-repeat; background-size: contain; width: 80%; height: 80%; margin-left: -330px; margin-top: -210px;">
            </div>
            <!-- Texto con fondo azul -->
            <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; width: 70%; background-color: transparent;">
                <div style="display: flex; justify-content: flex-end; align-items: center; width: 100%; height: 110px; background-color: #333988; padding: 0px; margin-left: 0px; margin-top: 25px;">
                    <p style="z-index: 2; color: white; font-size: 25px; font-family: 'Century Gothic'; text-align: left; margin: 0; padding-left: 20px;">
                        Humanización de cultura, procesos y equipos. Desarrollo de habilidades del futuro y su implicación.
                    </p>
                </div>                              
                <!-- Texto adicional -->
                <div class="text-center" style="width: 100%; position: relative; margin-top: 50px;">
                    <img src="assets/imagenes/CULTURA-X%20_IMG/CAPABILITIES.svg" alt="Logo" width="250" height="auto" style="position: absolute; top: 0; left: 15%; transform: translateX(-50%);">
                </div>
                <div style="width: 100%; text-align: center; margin-top: 100px;">
                    <p style="color: black; font-size: 25px; font-family: 'Century Gothic'; text-align: left;">
                        <strong>Difundimos CONOCIMIENTO</strong> <br> y experiencias innovadoras para entender al humano detrás del colaborador, el cliente y el consumidor.
                </div>                
                
<!-- Línea 1 -->
<div style="border-top: 2px solid #707175; width: 120%; margin-left: -350px; position: relative; margin-top: 100px;">
    <div style="position: absolute; top: 50%; transform: translate(-50%, -50%); left: 20%; text-align: center; margin-top: 70px;">
        <img src="assets/imagenes/CULTURA-X%20_IMG/CIRCULO%20AZUL%20OSCURO.svg" alt="Imagen 1" style="width: 50px; height: auto;">
        <p style="color: black; font-size: 20px; font-family: 'Arial Nova', 'Century Gothic', sans-serif; margin-top: 5px; text-align: center;">
            <strong>Modelos de formación <br> a partir de la <br> transformación del <br> <span style="color: #393F79;">mindset.</span></strong>
        </p>
    </div>

    <div style="position: absolute; top: 50%; transform: translate(50%, -50%); right: 40%; text-align: center; margin-top: 70px;">
        <img src="assets/imagenes/CULTURA-X%20_IMG/CIRCULO%20AZUL%20OSCURO.svg" alt="Imagen 2" style="width: 50px; height: auto;">
        <p style="color: black; font-size: 20px; font-family: 'Arial Nova', 'Century Gothic', sans-serif; margin-top: 5px; text-align: center;">
            <strong>Detección de <br><span style="color: #393F79;">oportunidades</span> en <br> mercados y <br> consumidores.</strong></p>
    </div>

    <div style="position: absolute; top: 50%; transform: translate(50%, -50%); right: 0%; text-align: center; margin-top: 55px;">
        <img src="assets/imagenes/CULTURA-X%20_IMG/CIRCULO%20AZUL%20OSCURO.svg" alt="Imagen 2" style="width: 50px; height: auto;">
        <p style="color: black; font-size: 20px; font-family: 'Arial Nova', 'Century Gothic', sans-serif; margin-top: 5px; text-align: center;">
            <strong>Transferencia de <br><span style="color: #393F79;"> conocimiento <br></span> estratégico.</strong>
        </p>
    </div>

</div>

<!-- Línea 2 -->
<div style="border-top: 2px solid #707175; width: 100%; margin-left: 0px; position: relative; margin-top: 250px;">
    <div style="position: absolute; top: 50%; transform: translate(-50%, -50%); left: 0%; text-align: center; margin-top: 80px;">
        <img src="assets/imagenes/CULTURA-X%20_IMG/CIRCULO%20AZUL%20OSCURO.svg" alt="Imagen 1" style="width: 50px; height: auto;">
        <p style="color: black; font-size: 20px; font-family: 'Arial Nova', 'Century Gothic', sans-serif; margin-top: 5px; text-align: center;">
            <strong><span style="color: #393F79;">Empatía y diagnostico </span>para <br> identificación de brechas de <br> habilidades para el <br> aseguramiento del negocio.</strong>
        </p>
    </div>

    <div style="position: absolute; top: 50%; transform: translate(50%, -50%); right: 45%; text-align: center; margin-top: 50px;">
        <img src="assets/imagenes/CULTURA-X%20_IMG/CIRCULO%20AZUL%20OSCURO.svg" alt="Imagen 2" style="width: 50px; height: auto;">
        <p style="color: black; font-size: 20px; font-family: 'Arial Nova', 'Century Gothic', sans-serif; margin-top: 5px; text-align: center;">
            <strong><span style="color: #393F79;">Experiencias Flexibles y <br> adaptables </span> a diferentes <br> niveles de la organización.</strong>
        </p>
    </div>
</div>


<!-- Botón para abrir el popup 1 -->
<div style="margin-top: 220px; text-align: center; display: flex; justify-content: center; align-items: center;">
    <p style="color: black; font-size: 24px; font-family: 'Century Gothic bold', 'Century Gothic', sans-serif; margin-right: 20px;">
    <strong>Conoce nuestras <br> soluciones</strong>
    </p>
    <button (click)="openPopup(1)" style="width: 200px; height: 60px; font-size: 20px; background: #DE1A4D; border: none; border-radius: 50px; color: #ffffff; outline: none; cursor: pointer; transition: all 0.4s;">
    Aquí
    </button>
</div>

<!-- Contenedor del popup 1 -->
<div *ngIf="isPopup1Visible" class="popup-container">
    <div class="popup-content">
        <span class="close-button" (click)="closePopup(1)">&times;</span>
        
<!-- Lista de viñetas -->
<div class="columns-container">
    <!-- Primera columna -->
    <div class="column">
        <ul>
            <li>
                <img src="assets/imagenes/CULTURA-X%20_IMG/CIRCULO%20AZUL%20OSCURO.svg" alt="Viñeta">
                <div>
                    <strong>Insight Think</strong> <br>
                    Mesas aplicadas de formación en insights.
                </div>
            </li>
            <li>
                <img src="assets/imagenes/CULTURA-X%20_IMG/CIRCULO%20AZUL%20OSCURO.svg" alt="Viñeta">
                <div>
                    <strong>Arque-Think</strong> <br>
                    Mesas aplicadas de formación en arquetipos.
                </div>
            </li>
            <li>
                <img src="assets/imagenes/CULTURA-X%20_IMG/CIRCULO%20AZUL%20OSCURO.svg" alt="Viñeta">
                <div>
                    <strong>Human Think</strong> <br>
                    Conferencias sobre lectura de necesidades.
                </div>
            </li>
            <li>
                <img src="assets/imagenes/CULTURA-X%20_IMG/CIRCULO%20AZUL%20OSCURO.svg" alt="Viñeta">
                <div>
                    <strong>Insight Academy</strong> <br>
                    Programa de formación en insights.
                </div>
            </li>
        </ul>
    </div>

    <!-- Segunda columna -->
    <div class="column">
        <ul>
            <li>
                <img src="assets/imagenes/CULTURA-X%20_IMG/CIRCULO%20AZUL%20OSCURO.svg" alt="Viñeta">
                <div>
                    <strong>Humanification</strong> <br>
                    Mesas para descubrir la persona detrás del cliente.
                </div>
            </li>
            <li>
                <img src="assets/imagenes/CULTURA-X%20_IMG/CIRCULO%20AZUL%20OSCURO.svg" alt="Viñeta">
                <div>
                    <strong>The Walker</strong> <br>
                    Programas para desarrollar Capabilities en detección de insights e implicaciones en el negocio.
                </div>
            </li>
            <li>
                <img src="assets/imagenes/CULTURA-X%20_IMG/CIRCULO%20AZUL%20OSCURO.svg" alt="Viñeta">
                <div>
                    <strong>Capability Gap</strong> <br>
                    Medición de GAP de habilidades reales vs. esperadas.
                </div>
            </li>
            <li>
                <img src="assets/imagenes/CULTURA-X%20_IMG/CIRCULO%20AZUL%20OSCURO.svg" alt="Viñeta">
                <div>
                    <strong>Transform</strong> <br>
                    Acompañamiento en procesos de innovación.
                </div>
            </li>
        </ul>
    </div>

    <!-- Tercera columna -->
    <div class="column">
        <ul>
            <li>
                <img src="assets/imagenes/CULTURA-X%20_IMG/CIRCULO%20AZUL%20OSCURO.svg" alt="Viñeta">
                <div>
                    <strong>Team Think</strong> <br>
                    Formación de equipos creativos.
                </div>
            </li>
            <li>
                <img src="assets/imagenes/CULTURA-X%20_IMG/CIRCULO%20AZUL%20OSCURO.svg" alt="Viñeta">
                <div>
                    <strong>Breakthrough</strong> <br>
                    Mesas de oportunidad con estudios sindicados de SL.
                </div>
            </li>
            <li>
                <img src="assets/imagenes/CULTURA-X%20_IMG/CIRCULO%20AZUL%20OSCURO.svg" alt="Viñeta">
                <div>
                    <strong>Trendy</strong> <br>
                    Transferencia de tendencias sociales a la academia.
                </div>
            </li>
        </ul>
    </div>
</div>
    </div>
</div>


                
            </div>
        </div>
    </div>


<!-- Fondo del hombre caminando y texto -->
<div class="fondohombrezcaminando" style="position: relative; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; width: 100%; height: 1300px; margin-top: -150px; background-color: transparent;">
    <!-- Logo con posición ajustable manualmente -->
    <div class="text-center" style="width: 100%; position: relative;">
        <img src="assets/imagenes/CULTURA-X%20_IMG/ALIGMENT.svg" alt="Logo" width="300" height="auto" style="position: absolute; top: 125px; left: 15%; transform: translateX(-50%);">
    </div>
    <!-- Contenido principal con imagen y texto -->
    <div style="display: flex; justify-content: space-between; align-items: flex-start; width: 150%; height: 150%; position: relative; top: 250px;">
        <!-- Texto con fondo amarillo -->
        <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; width: 70%; background-color: transparent;">
            <!-- Texto adicional -->
            <div style="display: flex; justify-content: flex-start; align-items: center; width: 100%; height: auto; background-color: transparent; padding: 20px; margin-left: 40%; margin-top: 10px;">
                <p style="z-index: 2; color: black; font-size: 25px; font-family: 'Century Gothic'; text-align: left; margin: 0;">
                    <strong>ACELERAMOS el éxito</strong> <br> del negocio, alineando el potencial de los equipos internos con los objetivos de la organización y la estrategia.
                </p>
            </div>
            <!-- Línea 1 -->
            <div style="border-top: 2px solid #707175; width: 80%; margin-left: 335px; position: relative; margin-top: 70px;">
                <div style="position: absolute; top: 50%; transform: translate(-50%, -50%); left: 40%; text-align: center; margin-top: 85px;">
                    <img src="assets/imagenes/CULTURA-X%20_IMG/CIRCULO%20AGUAMARINA.svg" alt="Imagen 1" style="width: 50px; height: auto;">
                    <p style="color: black; font-size: 20px; font-family: 'Arial Nova', 'Century Gothic', sans-serif; margin-top: 5px; text-align: center;">
                        <strong><span style="color: #588B92;">Metodología </span> que trabaja desde una <br> visión holística del SER: diferentes <br> ámbitos y escenarios de actuación <br> llegando puntos inexplorados de <br> acción. </strong>
                    </p>
                </div>
                <div style="position: absolute; top: 50%; transform: translate(50%, -50%); right: 0%; text-align: center; margin-top: 55px;">
                    <img src="assets/imagenes/CULTURA-X%20_IMG/CIRCULO%20AGUAMARINA.svg" alt="Imagen 2" style="width: 50px; height: auto;">
                    <p style="color: black; font-size: 20px; font-family: 'Arial Nova', 'Century Gothic', sans-serif; margin-top: 5px; text-align: center;">
                        <strong>
                            <span style="color: #588B92;">Diagnóstico e identificación </span><br> de tensiones de la cultura, los <br> equipos y las personas.
                        </strong>
                    </p>
                </div>
            </div>
            <!-- Línea 2 -->
            <div style="border-top: 2px solid #707175; width: 90%; margin-left: 565px; position: relative; margin-top: 250px;">
                <div style="position: absolute; top: 50%; left: 0%; transform: translate(-50%, -50%); text-align: center; margin-top: 85px;">
                    <img src="assets/imagenes/CULTURA-X%20_IMG/CIRCULO%20AGUAMARINA.svg" alt="Imagen 1" style="width: 50px; height: auto;">
                    <p style="color: black; font-size: 20px; font-family: 'Arial Nova', 'Century Gothic', sans-serif; margin-top: 5px; text-align: center;">
                        <strong><span style="color: #588B92;">Diseño y acompañamiento </span><br> de soluciones para la <br> intervención de equipos y <br> personas que activan <br> conciencia de cambio.</strong>
                    </p>
                </div>
                <div style="position: absolute; top: 50%; left: 45%; transform: translate(-50%, -50%); text-align: center; margin-top: 70px;">
                    <img src="assets/imagenes/CULTURA-X%20_IMG/CIRCULO%20AGUAMARINA.svg" alt="Imagen 3" style="width: 50px; height: auto;">
                    <p style="color: black; font-size: 20px; font-family: 'Arial Nova', 'Century Gothic', sans-serif; margin-top: 5px; text-align: center;">
                        <strong>Procesos de <br> <span style="color: #588B92;">transformación </span> para <br> el liderazgo <br> consiente.</strong>
                    </p>
                </div>
                <div style="position: absolute; top: 50%; right: 20%; transform: translate(50%, -50%); text-align: center; margin-top: 55px;">
                    <img src="assets/imagenes/CULTURA-X%20_IMG/CIRCULO%20AGUAMARINA.svg" alt="Imagen 2" style="width: 50px; height: auto;">
                    <p style="color: black; font-size: 20px; font-family: 'Arial Nova', 'Century Gothic', sans-serif; margin-top: 5px; text-align: center;">
                        <strong><span style="color: #588B92;">Modelos </span>de <br> indicadores <br> claves. </strong>
                    </p>
                </div>
            </div>
        </div>
        <!-- Imagen del hombre caminando -->
        <div data-aos="fade-left" style="background: url(../../../assets/imagenes/CULTURA-X%20_IMG/HOMBRE%20CAMINANDO-8.png) no-repeat; background-size: contain; width: 100%; height: 100%; margin-right: -200px; margin-top: -250px;">
        </div>
    </div>
    <!-- Botón para abrir el popup 2 -->
    <div style="position: absolute; top: 88%; left: 50%; transform: translate(-50%, -50%); text-align: center; display: flex; align-items: center;">
        <p style="color: black; font-size: 24px; font-family: 'Century Gothic bold', 'Century Gothic', sans-serif; margin-right: 20px;">
            <strong>Conoce nuestras <br> soluciones</strong>
        </p>
        <button (click)="openPopup(2)" style="width: 200px; height: 60px; font-size: 20px; background: #DE1A4D; border: none; border-radius: 50px; color: #ffffff; outline: none; cursor: pointer; transition: all 0.4s;">
            Aquí
        </button>
    </div>
<!-- Contenedor del popup 2 -->
<div *ngIf="isPopup2Visible" class="popup-container popup2-container">
    <div class="popup-content2">
        <span class="close-button2" (click)="closePopup(2)">&times;</span>
        <!-- Lista de viñetas del segundo popup -->
                <!-- Lista de viñetas -->
                <div class="columns-container">
                    <!-- Primera columna -->
                    <div class="column">
                        <ul>
                            <li>
                                <img src="assets/imagenes/CULTURA-X%20_IMG/CIRCULO%20AGUAMARINA.svg" alt="Viñeta">
                                <div>
                                    <strong>Articulaciones</strong> <br>
                                    Alineación y estrategias de trabajo colaborativo.
                                </div>
                            </li>
                            <li>
                                <img src="assets/imagenes/CULTURA-X%20_IMG/CIRCULO%20AGUAMARINA.svg" alt="Viñeta">
                                <div>
                                    <strong>Endomarketing</strong> <br>
                                    Estudios de marketing interno.
                                </div>
                            </li>
                            <li>
                                <img src="assets/imagenes/CULTURA-X%20_IMG/CIRCULO%20AGUAMARINA.svg" alt="Viñeta">
                                <div>
                                    <strong>People Sprint</strong> <br>
                                    Intervención 1ª1 de alineación de persona y cultura.
                                </div>
                            </li>
                            <li>
                                <img src="assets/imagenes/CULTURA-X%20_IMG/CIRCULO%20AGUAMARINA.svg" alt="Viñeta">
                                <div>
                                    <strong>Mentoring</strong> <br>
                                    Procesos de desarrollo profesional.
                                </div>
                            </li>
                        </ul>
                    </div>
        
                    <!-- Segunda columna -->
                    <div class="column">
                        <ul>
                            <li>
                                <img src="assets/imagenes/CULTURA-X%20_IMG/CIRCULO%20AGUAMARINA.svg" alt="Viñeta">
                                <div>
                                    <strong>Unity Test</strong> <br>
                                    Medición indicador Diversidad e inclusión.
                                </div>
                            </li>
                            <li>
                                <img src="assets/imagenes/CULTURA-X%20_IMG/CIRCULO%20AGUAMARINA.svg" alt="Viñeta">
                                <div>
                                    <strong>Culture Adopted</strong> <br>
                                    Apropiación de cultura.
                                </div>
                            </li>
                            <li>
                                <img src="assets/imagenes/CULTURA-X%20_IMG/CIRCULO%20AGUAMARINA.svg" alt="Viñeta">
                                <div>
                                    <strong>Employee</strong> <br>
                                    Posicionamiento marca corporativa.
                                </div>
                            </li>
                            <li>
                                <img src="assets/imagenes/CULTURA-X%20_IMG/CIRCULO%20AGUAMARINA.svg" alt="Viñeta">
                                <div>
                                    <strong>Business Therapy</strong> <br>
                                    Procesos de alineación de equipos internos.
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                    <!-- Tercera columna -->
                    <div class="column">
                        <ul>
                            <li>
                                <img src="assets/imagenes/CULTURA-X%20_IMG/CIRCULO%20AGUAMARINA.svg" alt="Viñeta">
                                <div>
                                    <strong>Profile Impact</strong> <br>
                                    Perfil arquetipal de colaboradores y equipos.
                                </div>
                            </li>
                            <li>
                                <img src="assets/imagenes/CULTURA-X%20_IMG/CIRCULO%20AGUAMARINA.svg" alt="Viñeta">
                                <div>
                                    <strong>Culture Impact</strong> <br>
                                    Perfil arquetipal de la organización.
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
    </div>
</div>

</div>

<!-- Texto Business y Cultura con botón -->
<div style="position: absolute; top: 426%; width: 100%; display: flex; justify-content: center; align-items: flex-start; gap: 150px;">
    <!-- Columna 1 -->
    <div style="flex-basis: 400px; flex-grow: 0; text-align: center;">
        <p style="color: black; font-size: 24px; font-family: 'Arial Nova bold', 'Century Gothic', sans-serif; margin-bottom: 10px;">
            <strong>DISCOVERY</strong>
        </p>
        <p style="color: black; font-size: 18px; font-family: 'Arial Nova', 'Century Gothic', sans-serif;">
            Detección de INSIGHTS validando <br> caminos y mapas de oportunidades.
        </p>
        <div style="margin-top: 10px;">
            <button [routerLink]="['/discovery']" style="width: 150px; height: 40px; font-size: 16px; background: #DE1A4D; border: none; border-radius: 30px; color: #ffffff; outline: none; cursor: pointer; transition: all 0.4s;">
                Ver más
            </button>
        </div>
    </div>

    <!-- Columna 2 -->
    <div style="flex-basis: 400px; flex-grow: 0; text-align: center;">
        <p style="color: black; font-size: 24px; font-family: 'Arial Nova bold', 'Century Gothic', sans-serif; margin-bottom: 10px;">
            <strong>BUSINESS STRATEGY</strong>
        </p>
        <p style="color: black; font-size: 18px; font-family: 'Arial Nova', 'Century Gothic', sans-serif;">
            Implicación en el negocio y la <br> innovación.
        </p>
        <div style="margin-top: 10px;">
            <button [routerLink]="['/business-s']" style="width: 150px; height: 40px; font-size: 16px; background: #DE1A4D; border: none; border-radius: 30px; color: #ffffff; outline: none; cursor: pointer; transition: all 0.4s;">
                Ver más
            </button>
        </div>
    </div>
</div>


    <!-- formulario normal-->
    <div id="seccion-hablemos"
    style="background-image: url('/assets/videos/fondo2.gif'); height: 800px; background-size: cover;  background-color :#FFFFFF;">
    <!-- Primera fila -->
    <div class="container-fluid"
    style="display: flex; justify-content: center; align-items: center; padding: 30px; height: 100%;">
    <div class="row"
        style="background-color: transparent; font-family: 'Arial Nova', Arial, sans-serif; height: 100%; width: 100%; border: 2px solid #00000000;">

        <div class="col-md-7 "
        style="display: block; align-content: center; justify-content: center; background-color: transparent; border: 2px solid rgba(255, 0, 0, 0); height: 100%;">
        <div
            style="display: flex; justify-content: center; align-items: left; flex-direction: column; padding: 30px; text-align: left; color: white; border: 2px solid #14a5f800; font-size: 20px; font-family : 'Century Gothic'; height: 95%; ">
            <br>
            <br><br><br><br><br>
            <p
            style="font-family: 'Arial Nova', Arial, sans-serif; font-size: 22px; line-height: 1.3;"><strong>La
                versatilidad de nuestro modelo de trabajo</strong>
            nos <br> permite adaptarnos a las necesidades de
            nuestros <br> aliados, ofreciéndoles soluciones con un
            impacto<br> <strong>“END TO END”</strong> que genera valor en
            toda la cadena<br> del negocio.</p>
            <br>
            <p
            style="font-size: 25px; font-family:'Arial Nova', Arial, sans-serif; margin-left: 5px; z-index: 2; margin-bottom: 8px;"><strong>¿Cuál
                es tu desafío?</strong></p>

            <!-- linea roja de titulo -->
            <img
            style="position: absolute; left: 2%; margin-top: 7.5%; width: 32%;"
            src="../../../assets/imagenes/linea-roja.svg" alt>

            <div style="margin-top: 7px; gap: 8%;">
            <input class="form-check-input" type="checkbox" value
                id="flexCheckDefault-1"><label class="form-check-label"
                style="font-family: 'Arial Nova', Arial, sans-serif;"
                for="flexCheckDefault">Quiero que mí carrera extienda su
                potencial.</label>
            <br>
            <input class="form-check-input" type="checkbox" value
                id="flexCheckDefault-2"><label class="form-check-label"
                style="font-family: 'Arial Nova', Arial, sans-serif;"
                for="flexCheckDefault">Es momento de transformar nuestra
                cultura.</label>
            <br>
            <input class="form-check-input" type="checkbox" value
                id="flexCheckDefault-3"><label class="form-check-label"
                style="font-family: 'Arial Nova', Arial, sans-serif;"
                for="flexCheckDefault">Necesitamos humanizar nuestros
                líderes.</label>
            <br>
            <input class="form-check-input" type="checkbox" value
                id="flexCheckDefault-4"><label class="form-check-label"
                style="font-family: 'Arial Nova', Arial, sans-serif;"
                for="flexCheckDefault">Fortalecer nuestra propuesta de
                valor.</label>
            <br>
            <input class="form-check-input" type="checkbox" value
                id="flexCheckDefault-5"><label class="form-check-label"
                style="font-family: 'Arial Nova', Arial, sans-serif; margin-top: 5px;"
                for="flexCheckDefault"><p style="line-height: 1;">Los resultados
                nos evidencian una necesidad de <br> fortalecer nuestra
                propuesta de valor.</p></label>
            <br>
            <input class="form-check-input" type="checkbox" value
                id="flexCheckDefault-6"><label class="form-check-label"
                style="font-family: 'Arial Nova', Arial, sans-serif; margin-top: 5px;"
                for="flexCheckDefault"><p style="line-height: 1;">Los
                movimientos del mercado nos piden ser más <br> disruptivos en
                nuestra innovación.</p></label>
            <br>
            <input class="form-check-input" type="checkbox" value
                id="flexCheckDefault-7"><label class="form-check-label"
                style="font-family: 'Arial Nova', Arial, sans-serif; margin-top: 5px;"
                for="flexCheckDefault"><p style="line-height: 1;">Llego el
                momento de desarrollar las habilidades <br> de nuestro equipo
                para un mejor desempeño y liderazgo.</p></label>
            </div>
        </div>
        </div>

        <div class="col-md-5"
        style="display: block; align-content: center; justify-content: right; border: 2px solid #e0181800; ">

        <div class=" "
            style=" display: flex; flex-direction: column; padding-right: 25px; justify-content: center; align-items: center;  background-color: transparent; height: 70%; margin-right: -75px; margin-top: 130px; border: 2px solid #0000ff00">

            <input type="text" class="form-control" placeholder="Nombre"
            style="background-color: transparent; color: white;">
            <input type="text" class="form-control" placeholder="E-mail"
            style="background-color: transparent; color: white;">
            <input type="text" class="form-control" placeholder="Celular"
            style="background-color: transparent; color: white;">

            <textarea name id cols="30" class="text-area"
            placeholder="Profundiza sobre tu reto" rows="8"
            style="background-color: transparent; color: white;"></textarea>
            <div
            style="border: 2px solid rgba(255, 0, 0, 0); width: 65%; margin-top: 8px;">
            <p
                style="background-color: transparent; color: white; text-align: left; font-size: 14px; line-height: 1;">Al
                llenar este formulario aceptas el tratamiento de
                <br>datos,conoce nuestra politica de datos <a
                style="font-weight: bold; text-decoration: none; color: white;"
                href="#">aqui</a></p>

            <button type="button" class="btn btn-secondary"
                style="background: white; width: 100px; padding: 5px; color: red; font-weight: bold; margin-top: 15px;">Enviar</button>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>


</div>