
<div class="contenido" style="background-color: #000000; width: 100%;">
  <!-- Inicio  slider  -->

  <div class="video-container">

    <img style="width: 85%; height: auto; position: relative;" loading="lazy"
      src="assets\videos\animados.gif" alt="Mi GIF">

    <div class="texto-superpuesto">

      <span
        style="font-size: 45px; font-family: 'Century Gothic'; font-weight: bold;"
        class="animate-text delay-1">¡Hola!</span>
      <p class="texto2 animate-text delay-2"
        style="margin-top: -18px; margin-bottom: -16px;">Te damos la bienvenida
        a SL Consulting</p>
      <span class="animate-text delay-3" style="font-size: 45px; font-family: 'Century Gothic'; font-weight: bold;">HACEMOS VISIBLE</span>
      <!-- con el margin top de -80px lo bajo o lo subo-->
      <p id="invisub" class="texto-superpuestoTituloBanner animate-text delay-4" style="margin-top: -140px; width: 545px; margin-right: 5px;"></p>
      <!-- <p id="tx" class="texto-superpuestoTituloBanner2" style="margin-top: -370px; margin-left: -65px;"></p> -->
      <p  style="margin-left: 2px; margin-top: 65px; font-size: 24px; font-family: 'Arial Nova', Arial, sans-serif; line-height: 1.2;">Entendemos
        las <span class="backRed">realidades humanas</span> <br> que hay detrás
        de las marcas, los negocios <br> y su gente.</p>
    </div>

  </div>
  <!-- Fin  slider  -->

    <div class="row" style="position: relative; width: auto;">
  <!-- Onda animada-->
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <p id="ondaGris" style="position: absolute; width: 100%; margin-top: -250px;"> </p>
  <p class="estamos">Estamos en una <strong >revolución de la consciencia</strong>, y nuestro <br> propósito es humanizar la forma en que las empresas, las <br> marcas y sus lideres impactan los contextos socilaes y <br> culturales de su gente y de su entorno.</p>
  
</div>
  
  <div class="banner" #banner style="display: none;">
    <ul class="redes-sociales">

      <li><a *ngIf="arquetipos" href="#" target="_blank"
          rel="noopener noreferrer" (mouseover)="cambiarA()"><img
            style="width: 50px;" src="assets/imagenes/iconos/arquetipos.svg"
            alt="Link"></a>
        <a *ngIf="arquetiposColor" href="#" target="_blank"
          rel="noopener noreferrer" (mouseout)="cambiarABlanco()"><img
            style="width: 50px;"
            src="assets/imagenes/iconos/arquetiposColor.svg" alt="Link"></a>
      </li>
      <li style="margin-top: -2px;"><a *ngIf="email" href="#"
          (mouseover)="cambiarE()"><img style="width: 40px;"
            src="assets/imagenes/iconos/email.svg" alt="email"></a>
        <a *ngIf="emailColor" href="#" target="_blank" rel="noopener noreferrer"
          (mouseout)="cambiarEBlanco()"><img style="width: 40px;"
            src="assets/imagenes/iconos/emailColor.svg" alt="email"></a>
      </li>

      <li style="margin-top: -2px;"><a *ngIf="whatsapp" href="https://web.whatsapp.com/"
        (mouseover)="cambiarW()"><img style="width: 35px;"
          src="assets/imagenes/iconos/whatsapp.svg" alt="whatsapp"></a>
      <a *ngIf="whatsappColor" href="https://web.whatsapp.com/" target="_blank" rel="noopener noreferrer"
        (mouseout)="cambiarWBlanco()"><img style="width: 35px;"
          src="assets/imagenes/iconos/whatsappColor.svg" alt=""></a>
    </li>

      <li><a *ngIf="facebook" href="https://www.facebook.com/SLInsightsyArquetypos" (mouseover)="cambiarF()"><img
            style="width: 35px;" src="assets/imagenes/iconos/facebook.svg"
            alt="Facebook"></a>
        <a *ngIf="facebookColor" href="https://www.facebook.com/SLInsightsyArquetypos" target="_blank"
          rel="noopener noreferrer" (mouseout)="cambiarFBlanco()"><img
            style="width: 35px;" src="assets/imagenes/iconos/facebookColor.svg"
            alt="Facebook"></a>
      </li>
      <li><a *ngIf="instagram" href="https://www.instagram.com/slconsulting_i_a/" target="_blank"
          rel="noopener noreferrer" (mouseover)="cambiarI()"><img
            style="width: 35px;" src="assets/imagenes/iconos/instagram.svg"
            alt="Instagram"></a>
        <a *ngIf="instagramColor" href="https://www.instagram.com/slconsulting_i_a/" target="_blank"
          rel="noopener noreferrer" (mouseout)="cambiarIBlanco()"><img
            style="width: 35px;" src="assets/imagenes/iconos/instagramColor.svg"
            alt="Instagram"></a>
      </li>
      <li><a *ngIf="link" href="#" target="_blank" (mouseover)="cambiarL()"><img
            style="width: 35px;" src="assets/imagenes/iconos/link.svg"
            alt="Link"></a>
        <a *ngIf="linkColor"
          href="https://www.linkedin.com/company/sl-insights-arquetypos"
          target="_blank" rel="noopener noreferrer"
          (mouseout)="cambiarLBlanco()"><img style="width: 35px;"
            src="assets/imagenes/iconos/linkColor.svg" alt="Link"></a>
      </li>

      <!-- Añade más iconos de redes sociales si lo deseas -->
    </ul>
  </div>

  <div class="mapa-container">

    <div class="col-md-1"></div>

    <div class="col-md-12"
      style="background-color: #F9F9F9; width: 100%;">
      <div class="" style="background-color: #F9F9F9; display: flex; justify-content: center; align-items: center; width: 100%;">
        <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->

        <img loading="lazy" class="mago" src="assets/videos/myg3.gif" id="gifMago" alt="Mi GIF">
        <!-- boton Mago-->

        <button data-aos="zoom-in-up" class="btn custom-button10 hablemos" ><strong>Hablemos</strong></button>
          
    </div>
  </div>

    <div class="col-md-1"></div>

  </div>

  <div class="row" style="display: flex; justify-content: center; align-content: center; background-color: #ffffff;">

    <div class="container" style="background-color: #ffffff; border: 2px solid rgba(255, 0, 0, 0);">
      
      <br>
      <br>
      <!-- Primera fila -->
      <div data-aos="fade-up" class="row justify-content-center align-content-center" style="background-color: #ffffff; gap: 5%;">
          <div class="card custom-card border-0" style="background-color: #76b41300; text-align: center;">
            <!-- Aca va el titulo Somos reemplazando el ID de la imagen-->
            <p  style="font-size: 32px; color: black; font-family: Century Gothic; font-weight: bold; line-height: 1;">SOMOS</p>
          </div>
      </div>
      <br>
      <br>

      <!-- Segunda fila ( Desde aca comienzan los divs de las cards ) -->
      <div  class="row justify-content-center align-content-center" style="margin-top: 0px; gap: 5%;">

        <div data-aos="fade-up" class="col-md-3" style="padding-top: 15px; padding-bottom: 50px; border: 2px solid rgba(0, 128, 0, 0); display: flex; justify-content: center; align-content: center;">
          
          <div class="custom-card cartas text-center" style="background-image: url('/assets/imagenes/imaFichas/fd.png'); background-size: cover; height: 265px; width: 85%; overflow: hidden; transition: all 1s ease;" id="card_plan_1" [ngClass]="{'oval-shape': isOval}">
          
            <div class="container card-overlay" (mousemove)="onMouseMovePerpis($event)" (mouseleave)="resetImagePositionPerpis()" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">

              <img data-aos="zoom-out" data-aos-duration="3000" #followImagePerpis src="assets/imagenes/imaFichas/perpis.svg" alt="Nueva Imagen" style="position: relative; object-fit: cover; height: 100%; width: 100%;">
            
            </div>
          </div>



        </div>

        <div data-aos="fade-up" class="col-md-3" style="padding-top: 15px; padding-bottom: 50px; border: 2px solid rgba(0, 128, 0, 0); display: flex; justify-content: center; align-content: center;">
          <div class="custom-card cartas text-center" style="background-image: url('/assets/imagenes/imaFichas/fd.png'); background-size: cover; height: 265px; width: 85%; overflow: hidden;" id="card_plan_1">
            
            <div class="container card-overlay" (mousemove)="onMouseMoveDina($event)" (mouseleave)="resetImagePositionDina()" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
              <img data-aos="zoom-out" data-aos-duration="3000" #followImageDina src="assets/imagenes/imaFichas/dina.svg" alt="Nueva Imagen" style="position: relative; object-fit: cover; width: 130%; height: 100%;">
            </div>
            
          </div>
        </div>
        


        <div data-aos="fade-up" class="col-md-3" style="padding-top: 15px; padding-bottom: 50px; border: 2px solid rgba(0, 128, 0, 0); display: flex; justify-content: center; align-content: center;">
          <div class="custom-card cartas text-center" style="background-image: url('/assets/imagenes/imaFichas/fd.png'); background-size: cover; height: 265px; width: 85%; overflow: hidden;" id="card_plan_1">


            <div class="container card-overlay" (mousemove)="onMouseMoveCrea($event)" (mouseleave)="resetImagePositionCrea()" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
            
              <img data-aos="zoom-out" data-aos-duration="3000" #followImageCrea src="assets/imagenes/imaFichas/creaa.svg" alt="Nueva Imagen" style="position: relative; object-fit: cover; margin-top: 8px; width: 100%; height: 100%">
            
            </div>

          </div>

        </div>
      </div>

   

      <div class="row justify-content-center align-content-center" style="margin-top: -30px; gap: 5%;">

        <div class="col-md-3" style="text-align: center;">

          <img src="assets/imagenes/imaFichas/bola.svg" alt="Bola" style="height: 45px; margin-top: 3px; margin-left: 5px; position: absolute;">

          <strong><span style=" font-size: 25px; font-family: Century Gothic; margin-left: 35px; position: relative;">Perspicaces</span></strong>
        
          <img style="width: 20px; margin: 10px; margin-bottom: 30px; cursor: pointer;" (click)="displayPerpis()" [src]="flechaCerrada" alt="">
      </div>


        <div class="col-md-3" style="text-align: center;">

          <img src="assets/imagenes/imaFichas/bola.svg" alt="Bola" style="height: 45px; margin-top: 3px; margin-left: 5px; position: absolute;">

          <strong><span
              style=" font-size: 25px; font-family: Century Gothic; margin-left: 35px; position: relative;">Dinámicos</span></strong>

          <img style="width: 20px; margin: 10px; margin-bottom: 30px; cursor: pointer;" (click)="displayDina()" [src]="flechaCerradaDina" alt="">
    
        </div>

        <div class="col-md-3" style="text-align: center;">

          <img src="assets/imagenes/imaFichas/bola.svg" alt="Bola"
            style="height: 45px; margin-top: 3px; margin-left: 5px; position: absolute;">

          <strong><span
              style=" font-size: 25px; font-family: Century Gothic; margin-left: 35px; position: relative;">Creativos</span></strong>

          <img style="width: 20px; margin: 10px; margin-bottom: 30px; cursor: pointer;" (click)="displayCrea()" [src]="flechaCerradaCrea" alt="">
    
        </div>

      </div>

      <div class="row justify-content-center align-content-center" style="margin-top: 5px; gap: 5%;">

        <div class="col-md-3"
          style="text-align: center; padding-left: 25px; padding-right: 55px;">
          <div class="perpis" #perpis style="display: none;">
            <p
              style="font-size: 18px; font-family: 'Arial Nova', Arial, sans-serif; line-height: 1; text-align: left;"><strong
                style="font-size: 20px; font-weight: bold;">¡Vemos más allá de
                lo evidente!</strong> <br> <br> Percibimos los detalles y
              las sutilezas que pasan
              desapercibidos a los ojos
              de muchos. Analizamos
              para comprender
              situaciones de manera
              rápida y profunda.
            </p>
          </div>
        </div>

        <div class="col-md-3"
          style="text-align: center; padding-left: 45px; padding-right: 33px;">
          <div #dina style="display: none;">
            <p
              style="font-size: 18px; font-family: 'Arial Nova', Arial, sans-serif; line-height: 1; text-align: left;"><strong
                style="font-size: 20px; font-weight: bold;">¡Vemos más allá de
                lo evidente!</strong> <br> <br> Percibimos los detalles y
              las sutilezas que pasan
              desapercibidos a los ojos
              de muchos. Analizamos
              para comprender
              situaciones de manera
              rápida y profunda.
            </p>
          </div>
        </div>

        <div class="col-md-3"
          style="text-align: center; padding-left: 60px; padding-right: 18px;">
          <div #crea style="display: none;">
            <p
              style="font-size: 18px; font-family: 'Arial Nova', Arial, sans-serif; line-height: 1; text-align: left;"><strong
                style="font-size: 20px; font-weight: bold;">¡Vemos más allá de
                lo evidente!</strong> <br> <br> Percibimos los detalles y
              las sutilezas que pasan
              desapercibidos a los ojos
              de muchos. Analizamos
              para comprender
              situaciones de manera
              rápida y profunda.
            </p>
          </div>
        </div>

      </div>

      <br><br>

      <div data-aos="fade-up" class="row justify-content-center align-content-center" style="margin-top: 0px; gap: 5%;">

        <div class="col-md-2"></div>

        <div class="col-md-3" style="padding-top: 15px; padding-bottom: 50px; border: 2px solid rgba(0, 128, 0, 0); display: flex; justify-content: center; align-content: center;">
          <div class="card plan custom-card cartas text-center" style="background-image: url('/assets/imagenes/imaFichas/fd.png'); background-size: cover; height: 265px; width: 85%; overflow: hidden;" id="card_plan_1">

            <div class="container card-overlay" (mousemove)="onMouseMoveArri($event)" (mouseleave)="resetImagePositionArri()" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
              <img data-aos="zoom-out" data-aos-duration="3000" #followImageArri src="assets/imagenes/imaFichas/arri.svg" alt="Nueva Imagen" style="position: relative; object-fit: cover; width: 100%; height: 100%;">
            </div>

          </div>
        </div>

        
        <div data-aos="fade-up" class="col-md-3" style="padding-top: 15px; padding-bottom: 50px; border: 2px solid rgba(0, 128, 0, 0); display: flex; justify-content: center; align-content: center;">
          <div class="card plan custom-card cartas text-center" style="background-image: url('/assets/imagenes/imaFichas/fd.png'); background-size: cover; height: 265px; width: 85%; overflow: hidden;" id="card_plan_1">
            
            <div class="container card-overlay" (mousemove)="onMouseMoveProvo($event)" (mouseleave)="resetImagePositionProvo()" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
              <img data-aos="zoom-out" data-aos-duration="3000" #followImageProvo src="assets/imagenes/imaFichas/provo.svg" alt="Nueva Imagen" style="position: relative; object-fit: cover; width: 100%; height: 100%; ">
            </div>
          </div>
        </div>


   

        <div class="col-md-2"></div>

      </div>

      <div class="row justify-content-center align-content-center" style="margin-top: -30px; gap: 5%;">

        <div class="col-md-2"></div>

        <div class="col-md-3" style="text-align: center;">

          <img src="assets/imagenes/imaFichas/bola.svg" alt="Bola"
            style="height: 45px; margin-top: 3px; margin-left: 5px; position: absolute;">

          <strong><span
              style=" font-size: 25px; font-family: Century Gothic; margin-left: 35px; position: relative;">Arriesgados</span></strong>

          <img style="width: 20px; margin: 10px; margin-bottom: 30px; cursor: pointer;" (click)="displayArriesga()" [src]="flechaCerradaArriesga" alt="">

        </div>

        <div class="col-md-3" style="text-align: center;">

          <img src="assets/imagenes/imaFichas/bola.svg" alt="Bola" style="height: 45px; margin-top: 3px; margin-left: 5px; position: absolute;">

          <strong><span style=" font-size: 25px; font-family: Century Gothic; margin-left: 35px; position: relative;">Provocadores</span></strong>
          <img style="width: 20px; margin: 10px; margin-bottom: 30px; cursor: pointer;" (click)="displayProvo()" [src]="flechaCerradaProvo" alt="">

        </div>

        <div class="col-md-2"></div>

      </div>

      <div class="row justify-content-center align-content-center" style="margin-top: 5px; gap: 5%;">

        <div class="col-md-2"></div>

        <div class="col-md-3" style="text-align: center; padding-left: 40px; padding-right: 25px;">
          <div #arriesga style="display: none;">
            <p style="font-size: 18px; font-family: 'Arial Nova', Arial, sans-serif; line-height: 1; text-align: left;">
              <strong style="font-size: 20px; font-weight: bold;">¡Vemos más allá de
                lo evidente!</strong><br><br> Percibimos los detalles y
              las sutilezas que pasan
              desapercibidos a los ojos
              de muchos. Analizamos
              para comprender
              situaciones de manera
              rápida y profunda.
            </p>
          </div>
        </div>

        <div class="col-md-3"
          style="text-align: center; padding-left: 30px; padding-right: 30px;">
          <div #provo style="display: none;">
            <p
              style="font-size: 18px; font-family: 'Arial Nova', Arial, sans-serif; line-height: 1; text-align: left;"><strong
                style="font-size: 20px; font-weight: bold;">¡Vemos más allá de
                lo evidente!</strong> <br> <br> Percibimos los detalles y
              las sutilezas que pasan
              desapercibidos a los ojos
              de muchos. Analizamos
              para comprender
              situaciones de manera
              rápida y profunda.
            </p>
          </div>
        </div>

        <div class="col-md-2"></div>

      </div>

      <br><br>

    </div>
  </div>




<!-- ESTE ES EL CONTAINER DE NOS BASAMOS -->
<div class="mapa-container" style="margin-top: 0px;">

  <div class="row" style="margin-bottom: 0px;">

    <div class="container-fluid" style="background-color: transparent;" >
      <!-- Primera fila -->
      <div class="row">
        <!-- Este div no modificar el color-->
          <div class="justify-content-center" style="background-color: transparent;">
             
                <img data-aos="zoom-in" data-aos-duration="2000" loading="lazy" style="width: 100%; background-color: transparent;" src="assets/videos/nb.gif" alt="Mi GIF"> 
                
            </div>
          </div>

    </div>
  </div>


<!-- Carrusel -->
<div class="row carrusel-container">
  <div class="container">
    <strong>
      <div class="texto-wrapper">
        <p class="texto">
          <span> INSIGHTS Y ARQUETIPOS SON UNA DUPLA DE ALTO VALOR </span> 
          <span> INSIGHTS Y ARQUETIPOS SON UNA DUPLA DE ALTO VALOR </span>
          <span> INSIGHTS Y ARQUETIPOS SON UNA DUPLA DE ALTO VALOR </span>
          <span> INSIGHTS Y ARQUETIPOS SON UNA DUPLA DE ALTO VALOR </span>
          <span> INSIGHTS Y ARQUETIPOS SON UNA DUPLA DE ALTO VALOR </span>
        </p>
        <p class="texto">
          <span>INSIGHTS Y ARQUETIPOS SON UNA DUPLA DE ALTO VALOR </span>
          <span> INSIGHTS Y ARQUETIPOS SON UNA DUPLA DE ALTO VALOR </span>
          <span> INSIGHTS Y ARQUETIPOS SON UNA DUPLA DE ALTO VALOR </span>
          <span> INSIGHTS Y ARQUETIPOS SON UNA DUPLA DE ALTO VALOR </span>
          <span> INSIGHTS Y ARQUETIPOS SON UNA DUPLA DE ALTO VALOR </span>
        </p>
      </div>
    </strong>
  </div>
</div>

<style>
  .carrusel-container {
    background-color: #4DB2B0;
    height: 60px;
    margin-top: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
  }
  
  .containerCarru {
    width: 100%;
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
  }
  
  .texto-wrapper {
    display: flex;
    width: 200%; /* Asegúrate de que sea el doble del ancho para acomodar el texto duplicado */
    animation: mover 25s linear infinite;
    align-items: center; /* Asegura que los elementos internos estén centrados verticalmente */
  }
  
  .texto {
    display: flex;
    align-items: center;
    color: #fff;
    margin: 0;
    font-family: Century Gothic, sans-serif;
    font-size: 24px;
    white-space: nowrap;
    padding-right: 100%; /* Espacio para el segundo bloque de texto */
  }
  
  .texto span {
    font-size: 22px;
    margin-left: 17px; /* Añade espacio entre los spans */
  }
  
  @keyframes mover {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
</style>



  <div  style="background-color: #ffffff; width: 100%;" >

    <div class="col-md-12">
    
    <div class="row" style="background-color: #39c02700; margin-left: 0; padding-top: 0px; padding-bottom: 0px; padding-left: 150px; padding-right: 0px;" >
    
    
        <div class="col-md-5" style=" border: 2px solid rgba(128, 0, 128, 0);">
          
          <div style="margin-left: 140px; margin-top: 80px;">
            <img loading="lazy" src="assets/imagenes/bolas3/bolaclick.svg" alt="Bola" style="height: 85px; margin-top: -39px; margin-left: -140px; position: absolute; ">
                      
            <p  class="texto2 animate-text" style="font-size: 34px; color: black; font-family: 'Century Gothic'; text-align: left; line-height:1; margin-left: -90px;">"<strong>Los insights</strong> reflejan la 
              <br>trama de cada<br>historia y los<br> <strong>arquetipos</strong> son los<br> personajes que le<br> dan vida a esas<br>historias".</p>
    
              <button class="btn custom-button10" style="font-size: 22px; margin-left: -90px; margin-top: 25%; margin-bottom: 80px; padding-left: 50px; padding-right: 50px; font-family: Century Gothic; cursor: pointer;"><strong>Hablemos</strong></button>
        </div>
    
      </div>


      <div class="col-md-6" style="border: 0;">
        <img style="width: 100%; height: auto; position: auto;" loading="lazy" src="assets\videos\cere.gif" alt="Mi GIF">
      </div>

    </div>
  </div>
  
  </div>
  </div> 


