
<div class="contenido" style="background-color: #000000; width: 100%;">
  <!-- Inicio  slider  -->

  <div class="video-container">

    <img style="width: 85%; height: auto; position: relative;" loading="lazy"
      src="assets\videos\animados.gif" alt="Mi GIF">

    <div class="texto-superpuesto">

      <span
        style="font-size: 45px; font-family: 'Century Gothic'; font-weight: bold;"
        class="animate-text delay-1">¡Hola!</span>
      <p class="texto2 animate-text delay-2"
        style="margin-top: -18px; margin-bottom: -16px;">Te damos la bienvenida
        a SL Consulting</p>
      <span class="animate-text delay-3" style="font-size: 45px; font-family: 'Century Gothic'; font-weight: bold;">HACEMOS VISIBLE</span>
      <!-- con el margin top de -80px lo bajo o lo subo-->
      <p id="invisub" class="texto-superpuestoTituloBanner animate-text delay-4" style="margin-top: -140px; width: 545px; margin-right: 5px;"></p>
      <!-- <p id="tx" class="texto-superpuestoTituloBanner2" style="margin-top: -370px; margin-left: -65px;"></p> -->
      <p  style="margin-left: 2px; margin-top: 65px; font-size: 24px; font-family: 'Arial Nova', Arial, sans-serif; line-height: 1.2;">Entendemos
        las <span class="backRed">realidades humanas</span> <br> que hay detrás
        de las marcas, los negocios <br> y su gente.</p>
    </div>

  </div>
  <!-- Fin  slider  -->

    <div class="row" style="position: relative; width: auto;">
  <!-- Onda animada-->
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <p id="ondaGris" style="position: absolute; width: 100%; margin-top: -250px;"> </p>
  <p class="estamos">Estamos en una <strong >revolución de la consciencia</strong>, y nuestro <br> propósito es humanizar la forma en que las empresas, las <br> marcas y sus lideres impactan los contextos socilaes y <br> culturales de su gente y de su entorno.</p>
  
</div>
  
  <div class="banner" #banner style="display: none;">
    <ul class="redes-sociales">

      <li><a *ngIf="arquetipos" href="#" target="_blank"
          rel="noopener noreferrer" (mouseover)="cambiarA()"><img
            style="width: 50px;" src="assets/imagenes/iconos/arquetipos.svg"
            alt="Link"></a>
        <a *ngIf="arquetiposColor" href="#" target="_blank"
          rel="noopener noreferrer" (mouseout)="cambiarABlanco()"><img
            style="width: 50px;"
            src="assets/imagenes/iconos/arquetiposColor.svg" alt="Link"></a>
      </li>
      <li style="margin-top: -2px;"><a *ngIf="email" href="#"
          (mouseover)="cambiarE()"><img style="width: 40px;"
            src="assets/imagenes/iconos/email.svg" alt="email"></a>
        <a *ngIf="emailColor" href="#" target="_blank" rel="noopener noreferrer"
          (mouseout)="cambiarEBlanco()"><img style="width: 40px;"
            src="assets/imagenes/iconos/emailColor.svg" alt="email"></a>
      </li>

      <li style="margin-top: -2px;"><a *ngIf="whatsapp" href="https://web.whatsapp.com/"
        (mouseover)="cambiarW()"><img style="width: 35px;"
          src="assets/imagenes/iconos/whatsapp.svg" alt="whatsapp"></a>
      <a *ngIf="whatsappColor" href="https://web.whatsapp.com/" target="_blank" rel="noopener noreferrer"
        (mouseout)="cambiarWBlanco()"><img style="width: 35px;"
          src="assets/imagenes/iconos/whatsappColor.svg" alt=""></a>
    </li>

      <li><a *ngIf="facebook" href="https://www.facebook.com/SLInsightsyArquetypos" (mouseover)="cambiarF()"><img
            style="width: 35px;" src="assets/imagenes/iconos/facebook.svg"
            alt="Facebook"></a>
        <a *ngIf="facebookColor" href="https://www.facebook.com/SLInsightsyArquetypos" target="_blank"
          rel="noopener noreferrer" (mouseout)="cambiarFBlanco()"><img
            style="width: 35px;" src="assets/imagenes/iconos/facebookColor.svg"
            alt="Facebook"></a>
      </li>
      <li><a *ngIf="instagram" href="https://www.instagram.com/slconsulting_i_a/" target="_blank"
          rel="noopener noreferrer" (mouseover)="cambiarI()"><img
            style="width: 35px;" src="assets/imagenes/iconos/instagram.svg"
            alt="Instagram"></a>
        <a *ngIf="instagramColor" href="https://www.instagram.com/slconsulting_i_a/" target="_blank"
          rel="noopener noreferrer" (mouseout)="cambiarIBlanco()"><img
            style="width: 35px;" src="assets/imagenes/iconos/instagramColor.svg"
            alt="Instagram"></a>
      </li>
      <li><a *ngIf="link" href="#" target="_blank" (mouseover)="cambiarL()"><img
            style="width: 35px;" src="assets/imagenes/iconos/link.svg"
            alt="Link"></a>
        <a *ngIf="linkColor"
          href="https://www.linkedin.com/company/sl-insights-arquetypos"
          target="_blank" rel="noopener noreferrer"
          (mouseout)="cambiarLBlanco()"><img style="width: 35px;"
            src="assets/imagenes/iconos/linkColor.svg" alt="Link"></a>
      </li>

      <!-- Añade más iconos de redes sociales si lo deseas -->
    </ul>
  </div>

  <div class="mapa-container">

    <div class="col-md-1"></div>

    <div class="col-md-12"
      style="background-color: #F9F9F9; width: 100%;">
      <div class="" style="background-color: #F9F9F9; display: flex; justify-content: center; align-items: center; width: 100%;">
        <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->

        <img loading="lazy" class="mago" src="assets/videos/myg3.gif" id="gifMago" alt="Mi GIF">
        <!-- boton Mago-->

        <button data-aos="zoom-in-up" class="btn custom-button10 hablemos" ><strong>Hablemos</strong></button>
          
    </div>
  </div>

    <div class="col-md-1"></div>

  </div>

  <div class="row" style="display: flex; justify-content: center; align-content: center; background-color: #ffffff;">

    <div class="container" style="background-color: #ffffff; border: 2px solid rgba(255, 0, 0, 0);">
      
      <br>
      <br>
      <!-- Primera fila -->
      <div data-aos="fade-up" class="row justify-content-center align-content-center" style="background-color: #ffffff; gap: 5%;">
          <div class="card custom-card border-0" style="background-color: #76b41300; text-align: center;">
            <!-- Aca va el titulo Somos reemplazando el ID de la imagen-->
            <p  style="font-size: 32px; color: black; font-family: Century Gothic; font-weight: bold; line-height: 1;">SOMOS</p>
          </div>
      </div>
      <br>
      <br>

      <!-- Segunda fila ( Desde aca comienzan los divs de las cards ) -->
      <div  class="row justify-content-center align-content-center" style="margin-top: 0px; gap: 5%;">

        <div data-aos="fade-up" class="col-md-3" style="padding-top: 15px; padding-bottom: 50px; border: 2px solid rgba(0, 128, 0, 0); display: flex; justify-content: center; align-content: center;">
          
          <div class="custom-card cartas text-center" style="background-image: url('/assets/imagenes/imaFichas/fd.png'); background-size: cover; height: 265px; width: 85%; overflow: hidden; transition: all 1s ease;" id="card_plan_1" [ngClass]="{'oval-shape': isOval}">
          
            <div class="container card-overlay" (mousemove)="onMouseMovePerpis($event)" (mouseleave)="resetImagePositionPerpis()" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">

              <img data-aos="zoom-out" data-aos-duration="3000" #followImagePerpis src="assets/imagenes/imaFichas/perpis.svg" alt="Nueva Imagen" style="position: relative; object-fit: cover; height: 100%; width: 100%;">
            
            </div>
          </div>



        </div>

        <div data-aos="fade-up" class="col-md-3" style="padding-top: 15px; padding-bottom: 50px; border: 2px solid rgba(0, 128, 0, 0); display: flex; justify-content: center; align-content: center;">
          <div class="custom-card cartas text-center" style="background-image: url('/assets/imagenes/imaFichas/fd.png'); background-size: cover; height: 265px; width: 85%; overflow: hidden;" id="card_plan_1">
            
            <div class="container card-overlay" (mousemove)="onMouseMoveDina($event)" (mouseleave)="resetImagePositionDina()" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
              <img data-aos="zoom-out" data-aos-duration="3000" #followImageDina src="assets/imagenes/imaFichas/dina.svg" alt="Nueva Imagen" style="position: relative; object-fit: cover; width: 130%; height: 100%;">
            </div>
            
          </div>
        </div>
        


        <div data-aos="fade-up" class="col-md-3" style="padding-top: 15px; padding-bottom: 50px; border: 2px solid rgba(0, 128, 0, 0); display: flex; justify-content: center; align-content: center;">
          <div class="custom-card cartas text-center" style="background-image: url('/assets/imagenes/imaFichas/fd.png'); background-size: cover; height: 265px; width: 85%; overflow: hidden;" id="card_plan_1">


            <div class="container card-overlay" (mousemove)="onMouseMoveCrea($event)" (mouseleave)="resetImagePositionCrea()" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
            
              <img data-aos="zoom-out" data-aos-duration="3000" #followImageCrea src="assets/imagenes/imaFichas/creaa.svg" alt="Nueva Imagen" style="position: relative; object-fit: cover; margin-top: 8px; width: 100%; height: 100%">
            
            </div>

          </div>

        </div>
      </div>

   

      <div class="row justify-content-center align-content-center" style="margin-top: -25px; gap: 5%;">

        <div class="col-md-3" style="text-align: center;">

          <img src="assets/imagenes/imaFichas/bola.svg" alt="Bola" style="height: 45px; margin-top: 3px; margin-left: 5px; position: absolute;">

          <strong><span style=" font-size: 25px; font-family: Century Gothic; top: 5px; margin-left: 35px; position: relative;">Perspicaces</span></strong>
        
          <img style="width: 20px; margin-left: 10px; cursor: pointer;" (click)="displayPerpis()" [src]="flechaCerrada" alt="">
      </div>


        <div class="col-md-3" style="text-align: center;">

          <img src="assets/imagenes/imaFichas/bola.svg" alt="Bola" style="height: 45px; margin-top: 5px;  margin-left: 5px; position: absolute;">

          <strong><span style="font-size: 25px; font-family: Century Gothic; top: 5px; margin-left: 35px; position: relative;">Dinámicos</span></strong>

          <img style="width: 20px; margin-left: 10px; cursor: pointer;" (click)="displayDina()" [src]="flechaCerradaDina" alt="">
    
        </div>

        <div class="col-md-3" style="text-align: center;">

          <img src="assets/imagenes/imaFichas/bola.svg" alt="Bola" style="height: 45px; margin-top: 5px; margin-left: 5px; position: absolute;">

          <strong><span style="font-size: 25px; font-family: Century Gothic; top: 5px; margin-left: 30px; position: relative;">Creativos</span></strong>

          <img style="width: 20px; margin-left: 10px; cursor: pointer;" (click)="displayCrea()" [src]="flechaCerradaCrea" alt="">
    
        </div>

      </div>

      <br>

      <div class="row justify-content-center align-content-center" style="margin-top: 5px; gap: 5%;">

        <div class="col-md-3" style="text-align: center; padding-left: 50px; padding-right: 8.5px;">
          <div class="perpis" #perpis style="display: none;">
            <p
              style="font-size: 18px; font-family: 'Arial Nova', Arial, sans-serif; line-height: 1.2; text-align: left;"><strong style="font-size: 22px; font-weight: bold;">¡Vemos más allá de lo evidente!</strong><br><br> 
              Percibimos los detalles y
              las sutilezas que pasan
              desapercibidos a los ojos
              de muchos. Analizamos
              para comprender
              situaciones de manera
              rápida y profunda.
            </p>
          </div>
        </div>

        <div class="col-md-3"
          style="text-align: center; padding-left: 55px; padding-right: 30px;">
          <div #dina style="display: none;">
            <p style="font-size: 18px; font-family: 'Arial Nova', Arial, sans-serif; line-height: 1.2; text-align: left;"><strong style="font-size: 22px; font-weight: bold;">¡No nos quedamos quietos!</strong><br><br> 
              Las herramientas que componen nuestro modelo están
              en un constante proceso de evolución y adaptación.
            </p>
          </div>
        </div>

        <div class="col-md-3"
          style="text-align: center; padding-left: 65px; padding-right: 10px;">
          <div #crea style="display: none;">
            <p
              style="font-size: 18px; font-family: 'Arial Nova', Arial, sans-serif; line-height: 1.2; text-align: left;"><strong style="font-size: 22px; font-weight: bold;">¡Somos Originales!</strong><br><br> 
              Vamos más allá del status quo
              y construimos desde la diferencia.
            </p>
          </div>
        </div>

      </div>

      <br><br>

      <div data-aos="fade-up" class="row justify-content-center align-content-center" style="margin-top: 0px; gap: 5%;">

        <div class="col-md-2"></div>

        <div class="col-md-3" style="padding-top: 15px; padding-bottom: 50px; border: 2px solid rgba(0, 128, 0, 0); display: flex; justify-content: center; align-content: center;">
          <div class="card plan custom-card cartas text-center" style="background-image: url('/assets/imagenes/imaFichas/fd.png'); background-size: cover; height: 265px; width: 85%; overflow: hidden;" id="card_plan_1">

            <div class="container card-overlay" (mousemove)="onMouseMoveArri($event)" (mouseleave)="resetImagePositionArri()" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
              <img data-aos="zoom-out" data-aos-duration="3000" #followImageArri src="assets/imagenes/imaFichas/arri.svg" alt="Nueva Imagen" style="position: relative; object-fit: cover; width: 100%; height: 100%;">
            </div>

          </div>
        </div>

        
        <div data-aos="fade-up" class="col-md-3" style="padding-top: 15px; padding-bottom: 50px; border: 2px solid rgba(0, 128, 0, 0); display: flex; justify-content: center; align-content: center;">
          <div class="card plan custom-card cartas text-center" style="background-image: url('/assets/imagenes/imaFichas/fd.png'); background-size: cover; height: 265px; width: 85%; overflow: hidden;" id="card_plan_1">
            
            <div class="container card-overlay" (mousemove)="onMouseMoveProvo($event)" (mouseleave)="resetImagePositionProvo()" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
              <img data-aos="zoom-out" data-aos-duration="3000" #followImageProvo src="assets/imagenes/imaFichas/provo.svg" alt="Nueva Imagen" style="position: relative; object-fit: cover; width: 100%; height: 100%; ">
            </div>
          </div>
        </div>


   

        <div class="col-md-2"></div>

      </div>

      <div class="row justify-content-center align-content-center" style="margin-top: -30px; gap: 5%;"> 

        <div class="col-md-2"></div>

        <div class="col-md-3" style="text-align: center;">

          <img src="assets/imagenes/imaFichas/bola.svg" alt="Bola" style="height: 45px; margin-top: 3px; margin-left: 5px; position: absolute;">

          <strong><span
              style=" font-size: 25px; font-family: Century Gothic; top: 5px; margin-left: 35px; position: relative;">Arriesgados</span></strong>

          <img style="width: 20px; margin-left: 10px; cursor: pointer;" (click)="displayArriesga()" [src]="flechaCerradaArriesga" alt="">

        </div>

        <div class="col-md-3" style="text-align: center;">

          <img src="assets/imagenes/imaFichas/bola.svg" alt="Bola" style="height: 45px; margin-top: 3px; margin-left: 5px; position: absolute;">

          <strong><span style=" font-size: 25px; font-family: Century Gothic; top: 5px; margin-left: 35px; position: relative;">Provocadores</span></strong>
          <img style="width: 20px; margin-left: 10px; cursor: pointer;" (click)="displayProvo()" [src]="flechaCerradaProvo" alt="">

        </div>

        <div class="col-md-2"></div>

      </div>

      <br>

      <div class="row justify-content-center align-content-center" style="margin-top: 5px; gap: 5%;">

        <div class="col-md-2"></div>

        <div class="col-md-3" style="text-align: center; padding-left: 55px; padding-right: 25px;">
          <div #arriesga style="display: none;">
            <p style="font-size: 18px; font-family: 'Arial Nova', Arial, sans-serif; line-height: 1.2; text-align: left;"><strong style="font-size: 22px; font-weight: bold;">¡Somos Valientes!</strong><br><br> 
              Exploramos caminos desconocidos para entregarles
              a nuestros clientes soluciones eficaces que responden
              a las cambiantes demandas del mercado.
            </p>
          </div>
        </div>

        <div class="col-md-3" style="text-align: center; padding-left: 33px; padding-right: 15px;">
          <div #provo style="display: none;">
            <p style="font-size: 18px; font-family: 'Arial Nova', Arial, sans-serif; line-height: 1.2; text-align: left;"><strong style="font-size: 22px; font-weight: bold;">¡Rompemos las barreras!</strong><br><br>
              Estimulamos el pensamiento crítico y si es necesario detonamos
              coversaciones incomodas para fomentar el cambio, construyendo
              ambientes de trabajo más dinámicos e influyentes.
            </p>
          </div>
        </div>

        <div class="col-md-2"></div>

      </div>

      <br><br>

    </div>
  </div>




<!-- ESTE ES EL CONTAINER DE NOS BASAMOS -->
<div class="mapa-container" style="margin-top: 0px;">

  <div class="row" style="margin-bottom: 0px;">

    <div class="container-fluid" style="background-color: transparent;" >
      <!-- Primera fila -->
      <div class="row">
        <!-- Este div no modificar el color-->
          <div class="justify-content-center" style="background-color: transparent;">
             
                <img data-aos="zoom-in" data-aos-duration="2000" loading="lazy" style="width: 100%; background-color: transparent;" src="assets/videos/nb.gif" alt="Mi GIF"> 
              
            </div>
          </div>

    </div>
  </div>


<!-- Carrusel -->
<div class="row carrusel-container">
  <div class="container">
    <strong>
      <div class="texto-wrapper">
        <p class="texto">
          <span> INSIGHTS Y ARQUETIPOS SON UNA DUPLA DE ALTO VALOR </span> 
          <span> INSIGHTS Y ARQUETIPOS SON UNA DUPLA DE ALTO VALOR </span>
          <span> INSIGHTS Y ARQUETIPOS SON UNA DUPLA DE ALTO VALOR </span>
          <span> INSIGHTS Y ARQUETIPOS SON UNA DUPLA DE ALTO VALOR </span>
          <span> INSIGHTS Y ARQUETIPOS SON UNA DUPLA DE ALTO VALOR </span>
        </p>
        <p class="texto">
          <span>INSIGHTS Y ARQUETIPOS SON UNA DUPLA DE ALTO VALOR </span>
          <span> INSIGHTS Y ARQUETIPOS SON UNA DUPLA DE ALTO VALOR </span>
          <span> INSIGHTS Y ARQUETIPOS SON UNA DUPLA DE ALTO VALOR </span>
          <span> INSIGHTS Y ARQUETIPOS SON UNA DUPLA DE ALTO VALOR </span>
          <span> INSIGHTS Y ARQUETIPOS SON UNA DUPLA DE ALTO VALOR </span>
        </p>
      </div>
    </strong>
  </div>
</div>

<style>
  .carrusel-container {
    background-color: #4DB2B0;
    height: 60px;
    margin-top: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
  }
  
  .containerCarru {
    width: 100%;
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
  }
  
  .texto-wrapper {
    display: flex;
    width: 200%; /* Asegúrate de que sea el doble del ancho para acomodar el texto duplicado */
    animation: mover 25s linear infinite;
    align-items: center; /* Asegura que los elementos internos estén centrados verticalmente */
  }
  
  .texto {
    display: flex;
    align-items: center;
    color: #fff;
    margin: 0;
    font-family: Century Gothic, sans-serif;
    font-size: 24px;
    white-space: nowrap;
    padding-right: 100%; /* Espacio para el segundo bloque de texto */
  }
  
  .texto span {
    font-size: 22px;
    margin-left: 17px; /* Añade espacio entre los spans */
  }
  
  @keyframes mover {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
</style>



  <div  style="background-color: #ffffff; width: 100%;" >

    <div class="col-md-12">
    
    <div class="row" style="background-color: #39c02700; margin-left: 0; padding-top: 50px; padding-bottom: 0px; padding-left: 150px; padding-right: 0px;" >
    
    
        <div class="col-md-5" style=" border: 2px solid rgba(128, 0, 128, 0);">
          
          <div style="margin-left: 140px; margin-top: 80px;">
            <img loading="lazy" src="assets/imagenes/bolas3/bolaclick.svg" alt="Bola" style="height: 85px; margin-top: -39px; margin-left: -140px; position: absolute; ">
                      
            <p  class="texto2 animate-text" style="font-size: 34px; color: black; font-family: 'Century Gothic'; text-align: left; line-height:1; margin-left: -90px;">"<strong>Los insights</strong> reflejan
              <br>la trama de cada<br>historia y los<br> <strong>arquetipos</strong> son los<br> personajes que le<br> dan vida a esas<br>historias".</p>
    
              <button class="btn custom-button10" style="font-size: 22px; margin-left: -90px; margin-top: 25%; margin-bottom: 80px; padding-left: 50px; padding-right: 50px; font-family: Century Gothic; cursor: pointer;"><strong>Hablemos</strong></button>
        </div>
      </div>


      <div class="col-md-6" style="border: 0;">
        <img style="width: 100%; height: auto; position: absolute;" loading="lazy" src="assets\videos\cere.gif" alt="Mi GIF">
      </div>
    </div>
  </div>
  
  </div>
  </div> 



<div class="mapa-container10" style="background-image: url('/assets/imagenes/Puente/Pug.svg'); background-color: #ffffff; background-size: cover; background-position: center; height: 1800px; padding-top: 0px; padding-bottom: -5000px; border: none; border-style:none;" >

<div class="row">
  <div class="col-md-2"></div>
<div class="col-md-8">

  <img loading="lazy" src="assets/imagenes/bolas3/bolaclick.svg" class="animate-text" alt="Bola" style="height: 90px; margin-top: 150px; margin-left: 85px; position: absolute;">

       
  <p  class="texto2 animate-text sombratexto" style="font-size: 34px; color: black; font-family:'Century Gothic'; margin-left: 15px; text-align: left; line-height:1; color: white; margin-top: 195px; margin-right: 45px; text-align: center; display: none;" class="animate-text" #tituloPuente> <strong style="font-size: 35px;">CONSTRUIMOS PUENTES EFECTIVOS</strong> 
    <br> que alinean el propósito personal o colectivo, con procesos que generan <strong>conciencia y permanencia</strong> en el tiempo.</p>

</div>
<div class="col-md-2"></div>
</div>


<div class="row" style="margin-top: -2px; margin-left: 60px;">

  <div class="col-md-4">

    <p id="mancae1" class=" animate-text" style="position: absolute; width: 420%; margin-top: -875px; margin-left: -403px;"> </p>

    <p  class="texto2 animate-text" style="font-size: 28px; color: black; font-family: 'Century Gothic'; text-align: left; line-height: 1.4; color: white; border: 2px solid rgba(255, 136, 0, 0); margin-top: 330px; margin-left: -75px; text-align: left; padding-left: 55px;"><strong style="font-size: 40px;"><span style="background-color: #00B4B2; border: 2px solid rgba(0, 0, 255, 0); padding-left: 65px; padding-right: 8px; margin-left: -65px;">DESAFIAMOS</span> LO CONVENCIONAL:</strong> <br>
      <br> Estamos en constante <strong>cambio<br> y movimiento</strong>, desarrollando <br>metodologías poderosas que<br> generan valor en toda la <br> cadena.</p>

  </div>

</div>


<div class="row" style="margin-top: 150px; margin-left: 200;">

  <div class="col-md-2"></div>


<div class="col-md-8">
  <p class="end" style="font-family: 'Century Gothic'; font-size: 50px; color: white; position: relative; z-index: 2;"><strong>END TO END</strong></p>

</div>


<div class="col-md-2"></div>


</div>


<div class="container">
            <div class="row" style="margin-top: 40px; margin-left: -10px; margin-bottom : 70px;">

  <div class="col-md-4" >
    <img loading="lazy" src="assets/imagenes/imaFichas/bd.svg"  alt="Bola" style=" width: 69%; margin-left: 80px;">
  </div>
  

  <div class="col-md-4">
    <img loading="lazy" src="assets/imagenes/imaFichas/bt.svg"  alt="Bola" style="width: 100%; margin-left: 35px;">
  </div>

  <div class="col-md-4">
    <img loading="lazy" src="assets/imagenes/imaFichas/bc.svg"  alt="Bola" style="width: 65%; margin-left: 150px; margin-top: 1px;">
  </div>

  </div>

</div>

</div>



  <!-- Div con Capabilities y eso-->

  <div class="mapa-container" style="background-color: #FFFFFF; padding-top: 20px; padding-bottom: 90px;">

    <div class="container" style="text-align: left;">
  
  
      <div class="row" style="margin-bottom: -70px; border: 2px solid rgba(0, 0, 255, 0);">
  
        <div class="col-md-8" style="margin-top: 30px; padding-left: 60px;">
          <p style="font-family: 'Arial Nova', Arial, sans-serif; font-size: 26px; margin-left: -120px; color: rgb(0, 0, 0); display: none; line-height: 1.5;" class="animate-text" #flechasAnal><strong><span style="font-size: 35px;">Creamos modelos</span> de trabajo diferentes</strong> y<br> customizados a las necesidades de la organización,</p>
        </div>
        <div class="col-md-4"> 
  
          <!-- <p id="bola1" style="width: 190%; margin-top: -40px; margin-left : -90px;"> </p>  -->
  
          <img style="width: 80%; margin-top: -60px; margin-left: 60px;" src="assets/imagenes/bolas3/flechas.svg" alt="Mi GIF">
        </div>
      </div>
  
  
      <div class="row" style="margin-top: 90px;">
        <div class="col-md-4"> 
          <img loading="lazy" style="width: 65%; margin-top: -80px; margin-left: -100px;" src="assets/imagenes/bolas3/ojoanal.svg" alt="Mi GIF">
        </div>
        <div class="col-md-8" style="margin-top: 70px;">
          <p style="font-family: 'Arial Nova', Arial, sans-serif; font-size: 26px; margin-left: -100px; color : black; display: none; line-height: 1;" class="animate-text" #ojoAnal>combinando la <strong><span style="font-size: 35px;">visión humana,</span></strong> las <span style="font-size: 25px;">capacidades<br> de análisis e integración de data,</span></p>
        </div>
      </div>
      <br>
  
  
  
      <div class="row" style="margin-top:-10px; border: 2px solid rgba(128, 0, 128, 0);">
        <div class="col-md-8" style="margin-top: -15px; padding-left: 60px;">
          <p style="font-family: 'Arial Nova', Arial, sans-serif; font-size: 20px; margin-left: 20px; margin-top: 70px; color: black; display: none; line-height: 1.2;" class="animate-text" #manoTuerca>con un pensamiento <strong>estrategico y profundo </strong> para <strong><span style="font-size: 25px;">evolucionar los negocios</span></strong> y fortalecer la<br> sociedad en general.</p>
        </div>
        <div class="col-md-4"> 
          <img loading="lazy" style="width: 70%; margin-top: -75px; margin-left: 0px;" src="assets/imagenes/bolas3/manotuerco.svg" alt="Mi GIF">
        </div>
      </div>
  
  
    </div>
  </div>
  
    <!--Div Mapa -->
    
    <div class="mapa-container" style="background-color: #ffffff;">
  
        <!-- Imagen del mapa-->
  
      <img loading="lazy" style="width: 20%; background-color: transparent; position: absolute; margin-left: -500px; border: 2px solid rgba(0, 0, 255, 0); margin-top: 400px;" src="assets/imagenes/bolas3/personasmapa.gif" alt="Mi GIF">
  
  
  
      <div class="container">
          <div class="row">
          <div class="col-md-12">
              <img loading="lazy" style="width: 900px; margin-left: 180px;" src="assets/imagenes/mapa.svg" alt="Invisible" >
          </div>
          </div>
      </div>
  
  
      <div class="texto-superpuesto3 row">
  
        <div class="col-md-5"></div>
      
        <div class="col-md-4">
          <p  style="line-height: 1; font-size: 39px; color: rgb(63, 62, 62); text-align: left; margin-top: 255px; margin-left: 170px;" class="texto2"><strong>ESTAMOS DEJANDO</strong></p>
          </div>
      </div>
  
      <div class="texto-superpuesto3 row">
      
      <div class="col-md-12">
        <p  style="line-height: 1; letter-spacing: 2px; font-size: 40px; color: rgb(63, 62, 62); text-align: left; margin-top: 390px; margin-left: 220px; background-color: #393F79; color: white; padding-top: 5px; padding-bottom: 5px; padding-right: 19px; padding-left: 59px;" class="texto2"><strong>HUELLA EN LATAM</strong></p>
        </div>
    </div>
    
  
  
  
      <div class="texto-superpuesto3 row">
        <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <p style="line-height: 1.4; font-size: 20px; color: rgb(63, 62, 62); text-align: left; margin-top: 600px; margin-left: 45px;" class="texto2">Hemos impactado organizaciones,<br> marcas a lo largo de nuestra región,<br> alineando <strong>el talento y las habilidades <br></strong>de las personas a favor de los <strong>retos y metas </strong>de los negocios.</p>
        <button class="btn custom-button10" style="position: absolute; font-size: 20px; margin-left: 50px; margin-top: 10px; padding-left: 40px; padding-right: 40px; font-family: Century Gothic; cursor: pointer;"><strong>Hablemos</strong></button>
      </div>
  
      </div>
    
  </div>
  
  
  <div class="row" style="background-color: #ffffff;">
  
    <div class="container" style="background-color: #ffffff; " >
  
  
  
  
  
      <div class="row" style="margin-top: -15px; background-color: #ffffff;">
  
  
        <div class="col-md-12" style="text-align: center; background-color: #ffffff;">
          <p style="font-size: 35px; padding-left: 30px; padding-right: 30px; font-family: Century Gothic;"><strong>QUIENES LO HACEN POSIBLE</strong></p>
          <br>
         </div>
  
  
  
      </div>
  
      
      <div class="row" style="background-color: #ffffff;">
  
  
        <div class="col-md-12" style="text-align: center; background-color: #ffffff;">
          <p style="font-size: 17px; font-family: Century Gothic; line-height: 1;">Ante todo personas que comparten un mismo propósito,<strong style="font-size: 30px;"> arriesgadas, creativas, profundas y soñadoras.</strong> Lo bueno de SL Consulting es su gente, quienes impregnan pasión y dedicación en cada proyecto.</p>
         </div>
  
  
  
      </div>
  
      <!-- Segunda fila ( Desde aca comienzan los divs de las cards ) -->
        <div class="row" style="margin-top: -45px;">
  
          <div class="col-md-4"  style="padding-top: 5px; padding-bottom: 5px; padding-left: 15px; padding-right: 15px;">
            <div class="card plan custom-card cartas text-center" style="padding: auto; background-image: url('/assets/imagenes/imaFichas/fondoCardsDos.svg'); background-size: cover; height: 65%;" id="card_plan_1">
  
           
              <p id="activacion" style="position: absolute; width: 575px; margin-top: -200px; margin-left : -192.5px;"> </p>
  
             
  
  
                <div class="card-body plan-card-body" style="width: 600px; height: 230px;">
                  <span class="miparrafo"> </span>
                </div>
  
  
            </div>
          </div>
  
  
          <div class="col-md-4"  style="padding-top: 5px; padding-bottom: 5px; padding-left: 15px; padding-right: 15px;">
            <div class="card plan custom-card cartas text-center" style="padding: auto; background-image: url('/assets/imagenes/imaFichas/fondoCardsDos.svg'); background-size: cover; height: 65%;" id="card_plan_1">
  
              <div class="card-overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
  
                
              <p id="comprension" style="position: absolute; width: 440px; margin-top: -100px; margin-left : -150px;"> </p>
  
             </div>
  
  
                <div class="card-body plan-card-body" style="width: 600px; height: 30px;">
                  <span class="miparrafo"> </span>
                </div>
  
  
            </div>
          </div>
  
  
          <div class="col-md-4"  style="padding-top: 5px; padding-bottom: 5px; padding-left: 15px; padding-right: 15px;">
            <div class="card plan custom-card cartas text-center" style="padding: auto; background-image: url('/assets/imagenes/imaFichas/fondoCardsDos.svg'); background-size: cover; height: 65%;" id="card_plan_1">
  
              <p id="creatividad" style="position: absolute; width: 455px; margin-top: -150px; margin-left : -150px;"> </p>
  
           
  
  
                <div class="card-body plan-card-body" style=" padding-top: 250px;">
                  <span class="miparrafo"> </span> 
                </div>
            </div>
          </div>
  
        </div>
  
        
        <div class="row" style="margin-top: -30px;">
  
  
          <div class="col-md-4" style="text-align: center;">
            <button class="btn custom-button10" style="font-size: 20px; padding-left: 30px; padding-right: 30px; font-family: Century Gothic; cursor: pointer;"><strong>Hablemos</strong></button>
          </div>
  
  
          <div class="col-md-4" style="text-align: center;">
            
          
            <button class="btn custom-button10" style="font-size: 20px; padding-left: 30px; padding-right: 30px; font-family: Century Gothic; cursor: pointer;"><strong>Hablemos</strong></button>
  
          </div>
  
  
          <div class="col-md-4" style="text-align: center;">
            
            
            <button class="btn custom-button10" style="font-size: 20px; padding-left: 30px; padding-right: 30px; font-family: Century Gothic; cursor: pointer;"><strong>Hablemos</strong></button>
  
          </div>
  
        </div>
  
          <div class="row" style="margin-top: -30px;">
  
            <div class="col-md-2"></div>
  
          <div class="col-md-4"  style="padding-top: 5px; padding-bottom: 5px; padding-left: 15px; padding-right: 15px;">
            <div class="card plan custom-card cartas text-center" style="padding: auto; background-image: url('/assets/imagenes/imaFichas/fondoCardsDos.svg'); background-size: cover; height: 65%;" id="card_plan_1">
  
              <div class="card-overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
  
                <p id="logistica" style="position: absolute; width: 455px; margin-top: -150px; margin-left : -150px;"> </p>
               
             </div>
  
  
                <div class="card-body plan-card-body" style=" padding-top: 250px;">
                  <span class="miparrafo"> </span> 
                </div>
            </div>
          </div>
  
          <div class="col-md-4"  style="padding-top: 5px; padding-bottom: 5px; padding-left: 15px; padding-right: 15px;">
            <div class="card plan custom-card cartas text-center" style="padding: auto; background-image: url('/assets/imagenes/imaFichas/fondoCardsDos.svg'); background-size: cover; height: 65%;" id="card_plan_1">
  
              <div class="card-overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
  
                <p id="steam" style="position: absolute; width: 455px; margin-top: -150px; margin-left : -150px;"> </p>
  
             </div>
  
  
                <div class="card-body plan-card-body" style=" padding-top: 250px;">
                  <span class="miparrafo"> </span>
                </div>
            </div>
          </div>
  
          <div class="col-md-2"></div>
  
        </div>
  
        <div class="row" style="margin-top: -30px;">
  
          <div class="col-md-2"></div>
        
          <div class="col-md-4" style="text-align: center;">
            
            
            <button class="btn custom-button10" style="font-size: 20px; padding-left: 30px; padding-right: 30px; font-family: Century Gothic; cursor: pointer;"><strong>Hablemos</strong></button>
  
          </div>
  
          <div class="col-md-4" style="text-align: center;">
          
            
            <button class="btn custom-button10" style="font-size: 20px; padding-left: 30px; padding-right: 30px; font-family: Century Gothic; cursor: pointer;"><strong>Hablemos</strong></button>
  
          </div>
  
          <div class="col-md-2"></div>
  
        </div>
  
  
        <br>
  
        <br>
  
    </div>
  </div>
  
    <!-- Carrusel en ngro -->
  
    <div class="row" style="background-color: rgb(255, 255, 255);">
  
      <div class="container"> <strong><p class="text-center" style="color: rgb(0, 0, 0); margin-top: 50px; font-family: Century Gothic ;font-size: 30px;">  NUESTROS  <span style="font-size: 30px;">ALIADOS</span></p></strong></div>
      <br>
      <br>
     
  
     </div>
  
  
    <div class="row" style="background-color: rgb(255, 255, 255);">
  
  
      <div class="col-md-1"></div>
  
        <div class="col-md-10">
            <div id="logoCarousel" class="carousel slide" data-ride="carousel" style="background-color: rgb(255, 255, 255); margin-left: -10px; margin-bottom: 20px; margin-top: 40px;" >
                <div class="carousel-inner">
                  <!-- Slide 1 -->
                  <div class="carousel-item active">
                    <div class="row">
                      <!-- Logo 1 -->
                      <div class="col-md-3">
                        <img loading="lazy" src="assets/imagenes/color/coca.svg" style="width: 100px;" class="d-block mx-auto" alt="Logo 11">
                      </div>
                      <!-- Logo 2 -->
                      <div class="col-md-3">
                        <img loading="lazy" src="assets/imagenes/color/colomb.svg" style="width: 130px; height: 50px" class="d-block mx-auto" alt="Logo 2">
                      </div>
                      <!-- Logo 3 -->
                      <div class="col-md-3">
                        <img loading="lazy" src="assets/imagenes/color/sema.svg" class="d-block mx-auto" style="height:23px; margin-top: 10px; width: 110px;" alt="Logo 3">
                      </div>
                      <!-- Logo 4 -->
                      <div class="col-md-3">
                        <img loading="lazy" src="assets/imagenes/color/pep.svg" style="width: 130px; height: 40px; margin-top: -1px;" class="d-block mx-auto" alt="Logo 4">
                      </div>
                    </div>
                  </div>
                <!-- Slide 2 -->
                <div class="carousel-item">
                    <div class="row">
                        <!-- Logo 1 -->
                      <div class="col-md-3">
                        <img loading="lazy" src="assets/imagenes/color/afi.svg" style="width: 115px; height: 50px;" class="d-block mx-auto" alt="Logo 11">
                      </div>
                      <!-- Logo 2 -->
                      <div class="col-md-3">
                        <img loading="lazy" src="assets/imagenes/color/ali.svg" style="width: 125px; height: 30px;" class="d-block mx-auto" alt="Logo 2">
                      </div> 
                      <!-- Logo 3 -->
                      <div class="col-md-3">
                        <img loading="lazy" src="assets/imagenes/color/alp.svg" style="width: 165px; height: 25px; margin-top: 10px;" class="d-block mx-auto" alt="Logo 3">
                      </div>
                      <!-- Logo 4 -->
                      <div class="col-md-3">
                        <img loading="lazy" src="assets/imagenes/color/aql.svg" style="width: 132px; height: 40px; margin-bottom: 20px;" class="d-block mx-auto" alt="Logo 4">
                      </div>
                  </div>
                </div>
      
                <!-- Slide 2 -->
                <div class="carousel-item">
                  <div class="row">
                      <!-- Logo 1 -->
                      <div class="col-md-3">
                        <img loading="lazy" src="assets/imagenes/color/dia.svg" style="width: 55px; height: 60px;" class="d-block mx-auto" alt="Logo 11">
                      </div>
                      <!-- Logo 2 -->
                      <div class="col-md-3">
                        <img loading="lazy" src="assets/imagenes/color/sco.svg" style="width: 100px; height: 40px" class="d-block mx-auto" alt="Logo 2">
                      </div>
                      <!-- Logo 3 -->
                      <div class="col-md-3">
                        <img loading="lazy" src="assets/imagenes/color/bcs.svg" style="width: 120px; height: 45px; margin-top: 5px;" class="d-block mx-auto" alt="Logo 3">
                      </div>
                          <!-- Logo 4 -->
                      <div class="col-md-3">
                        <img loading="lazy" src="assets/imagenes/color/dup.svg" style="width: 100px; height: 23px;margin-top: 14px;" class="d-block mx-auto" alt="Logo 4">
                      </div>
                    </div>
                </div>
      
                <!-- Slide 2 -->
                <div class="carousel-item">
                    <div class="row">
                        <!-- Logo 1 -->
                        <div class="col-md-3">
                          <img loading="lazy" src="assets/imagenes/color/derco.svg" style="width: 50px; height: 60px;" class="d-block mx-auto" alt="Logo 11">
                        </div>
                        <!-- Logo 2 -->
                        <div class="col-md-3">
                          <img loading="lazy" src="assets/imagenes/color/uni.svg" style="width: 100px; height: 35px;" class="d-block mx-auto" alt="Logo 2">
                        </div>
                        <!-- Logo 3 -->
                        <div class="col-md-3">
                          <img loading="lazy" src="assets/imagenes/color/por.svg" style="width: 160px; height: 25px; margin-top: 10px;" class="d-block mx-auto" alt="Logo 3">
                        </div>
                        <!-- Logo 4 -->
                        <div class="col-md-3">
                          <img loading="lazy" src="assets/imagenes/color/trece.svg" style="width: 145px; height: 30px; margin-top: 7px;" class="d-block mx-auto" alt="Logo 4">
                        </div>
                      </div>
                  </div>
      
                <!-- Slide 2 -->
                <div class="carousel-item">
                    <div class="row">
                        <!-- Logo 1 -->
                        <div class="col-md-3">
                          <img loading="lazy" src="assets/imagenes/color/belcorp.svg" style="width: 65px; height: 60px;" class="d-block mx-auto" alt="Logo 11">
                        </div>
                        <!-- Logo 2 -->
                        <div class="col-md-3">
                            <img loading="lazy" src="assets/imagenes/color/brist.svg" style="width: 170px; height: 50px;" class="d-block mx-auto" alt="Logo 2">
                        </div>
                        <!-- Logo 3 -->
                        <div class="col-md-3">
                          <img loading="lazy" src="assets/imagenes/color/colga.svg" style="width: 120px; height: 45px;" class="d-block mx-auto" alt="Logo 3">
                        </div>
                        <!-- Logo 4 -->
                         <div class="col-md-3">
                          <img loading="lazy" src="assets/imagenes/color/sanofi.svg" class="d-block mx-auto" alt="Logo 4">
                        </div>
                      </div>
                  </div>
      
                <!-- Slide 2 -->
                <div class="carousel-item">
                    <div class="row">
                        <!-- Logo 1 -->
                        <div class="col-md-3">
                          <img loading="lazy" src="assets/imagenes/color/colpen.svg" style="height: 25px; width: 100px;" class="d-block mx-auto" alt="Logo 11">
                        </div> 
                        <!-- Logo 2 -->
                        <div class="col-md-3">
                          <img loading="lazy" src="assets/imagenes/color/colbsu.svg" style="height: 44px; width: 120px; margin-bottom: 15px;" class="d-block mx-auto" alt="Logo 2">
                        </div>
                        <!-- Logo 3 -->
                        <div class="col-md-3">
                          <img loading="lazy" src="assets/imagenes/color/crux.svg" style="height: 25px; width: 130px;" class="d-block mx-auto" alt="Logo 3">
                        </div>
                        <!-- Logo 4 -->
                        <div class="col-md-3">
                          <img loading="lazy" src="assets/imagenes/color/danone.svg" style="height: 26px; width: 105px;" class="d-block mx-auto" alt="Logo 4">
                        </div>
                    </div>
                </div>
      
                <!-- Slide 2 -->
                <div class="carousel-item">
                    <div class="row">
                        <!-- Logo 1 -->
                        <div class="col-md-3">
                          <img loading="lazy" src="assets/imagenes/color/sygen.svg" style="height: 30px; width: 140px;" class="d-block mx-auto" alt="Logo 11">
                        </div>
                        <!-- Logo 2 -->
                        <div class="col-md-3">
                          <img loading="lazy" src="assets/imagenes/color/nov.svg" style="height: 60px; width: 85px;" class="d-block mx-auto" alt="Logo 2">
                        </div>
                        <!-- Logo 3 -->
                        <div class="col-md-3">
                          <img loading="lazy" src="assets/imagenes/color/kel.svg" style="height: 30px; width: 150px;" class="d-block mx-auto" alt="Logo 3">
                        </div>
                        <!-- Logo 4 -->
                        <div class="col-md-3">
                          <img loading="lazy" src="assets/imagenes/color/afi.svg" style="height: 60px; width: 130px;" class="d-block mx-auto" alt="Logo 4">
                        </div>
                      </div>
                  </div>
                  <!-- Agrega más slides según sea necesario -->
                </div>
  
                <!-- Controles del carrusel -->
                <a  class="carousel-control-prev" style="margin-left: -60px; color :black" href="#logoCarousel" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Anterior</span></a>
                <a class="carousel-control-next" style="margin-right: -60px;" href="#logoCarousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Siguiente</span>
                </a>
              </div>
        </div>

        <div class="col-md-1"></div>
    </div>
  
    <!-- formulario -->
  <div  style="background-image: url('/assets/videos/fondo2.gif'); height: 780px; background-size: cover; margin-top: -20px; background-color :#FFFFFF;" >
      <!-- Primera fila -->
    <div class="container-fluid" style="display: flex; justify-content: center; align-items: center; padding: 35px; height: 100%;">
      <div class="row" style="background-color: transparent; font-family: 'Arial Nova', Arial, sans-serif; height: 100%; width: 100%; margin-top: 40px;  border: 2px solid #00000000; "  >
            
        <div class="col-md-7 " style="display: block; align-content: center; justify-content: center; background-color: transparent; border: 2px solid rgba(255, 0, 0, 0);">
            <div style="display: flex; justify-content: center; margin-top: 60px; align-items: left; flex-direction: column; padding: 30px; text-align: left; color: white; border: 2px solid #14a5f800; font-size: 20px; font-family : 'Century Gothic'; height: 90%; ">
              <br>
              <br>
              <p style="font-family: 'Arial Nova', Arial, sans-serif; font-size: 22px; line-height: 1.3;" ><strong>La versatilidad de nuestro modelo de trabajo</strong>
                nos <br> permite  adaptarnos a las necesidades de
                nuestros <br> aliados, ofreciéndoles soluciones con un
                impacto<br> <strong>“END TO END”</strong> que genera valor en
                toda la cadena<br> del negocio.</p>
              <br>
              <p style="font-size: 25px; font-family:'Arial Nova', Arial, sans-serif; margin-left: 5px; z-index: 2;"><strong>¿Cuál es tu desafío?</strong></p>
              <!-- linea roja de titulo -->
              <img style="position: absolute; left: 3%; margin-top: -9%; width: 35%;" src="../../../assets/imagenes/linea-roja.svg" alt="">
              <div style="margin-top: 25px; gap: 8%;">
                <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault-1"><label class="form-check-label" style="font-family: 'Arial Nova', Arial, sans-serif;" for="flexCheckDefault">Quiero que mi marca extienda su potencial.</label>
                <br>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-2"><label class="form-check-label" style="font-family: 'Arial Nova', Arial, sans-serif;" for="flexCheckDefault">Es momento de transformar nuestra cultura.</label>               
                <br>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-3"><label class="form-check-label" style="font-family: 'Arial Nova', Arial, sans-serif;" for="flexCheckDefault">Necesitamos humanizar nuestros líderes.</label>                 
                <br>
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-4"><label class="form-check-label" style="font-family: 'Arial Nova', Arial, sans-serif;" for="flexCheckDefault">Fortalecer nuestra propuesta de valor.</label>                 
                <br>
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-5"><label class="form-check-label" style="font-family: 'Arial Nova', Arial, sans-serif; margin-top: 5px;" for="flexCheckDefault"><p style="line-height: 1;">Los resultados nos evidencian una necesidad de <br> fortalecer nuestra propuesta de valor.</p></label>
                <br>
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-6"><label class="form-check-label" style="font-family: 'Arial Nova', Arial, sans-serif; margin-top: 5px;" for="flexCheckDefault"><p style="line-height: 1;">Los movimientos del mercado nos piden ser más <br> disruptivos en nuestra innovación.</p></label>
                <br>
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-7"><label class="form-check-label" style="font-family: 'Arial Nova', Arial, sans-serif; margin-top: 5px;" for="flexCheckDefault"><p style="line-height: 1;">Llego el momento de desarrollar las habilidades <br> de nuestro equipo para un mejor desempeño y liderazgo.</p></label>
                </div>
              </div>
          </div>

          <div class="col-md-5" style="display: block; align-content: center; justify-content: right; border: 2px solid #e0181800; ">
              <div class=" " style=" display: flex; flex-direction: column; padding: 40px; margin-top: 90px; justify-content: center; align-items: center;  background-color: transparent; height: 80%; margin-right: -75px; border: 2px solid rgba(0, 0, 255, 0)">
                    <input type="text" class="form-control" placeholder="Nombre" style="background-color: transparent; color: white;">
                    <input type="text" class="form-control" placeholder="Email" style="background-color: transparent; color: white;">  
                    <input type="text" class="form-control" placeholder="Celular" style="background-color: transparent; color: white;">
                    
                    <textarea name="" id="" cols="30" class="text-area" placeholder="Profundiza sobre tu reto" rows="8" style="background-color: transparent; color: white;"></textarea>
                    <div style="border: 2px solid rgba(255, 0, 0, 0); width: 75%; margin-top: 8px;">
                      <p style="background-color: transparent; color: white; text-align: left; font-size: 14px; line-height: 1;">Al llenar este formulario aceptas el tratamiento de <br>datos,conoce nuestra politica de datos <a style="font-weight: bold; text-decoration: none; color: white;" href="#">aqui</a></p><br>

                      <button type="button" class="btn btn-secondary" style="background: white; width: 100px; padding: 5px; color: red; font-weight: bold;">Enviar</button>
                    </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>