.details-container {
    margin-top: 20px;
    text-align: center; /* Alineación centrada del contenido */
}

details {
    width: 100%;
    max-width: 400px; /* Ajusta el ancho máximo del detalle según tu diseño */
    margin: 0 auto; /* Centra el detalle horizontalmente */
    background-color: #ffffff; /* Fondo blanco */
    border: 2px solid #dddddd; /* Borde gris claro */
    border-radius: 10px; /* Borde redondeado */
    margin-bottom: 20px; /* Margen inferior */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

summary {
    font-size: 20px; /* Tamaño de fuente del resumen */
    font-weight: bold; /* Texto en negrita */
    cursor: pointer; /* Cambio de cursor */
    padding: 0px; /* Espaciado interno del resumen */
    background-color: #ffffff; /* Color de fondo del resumen */
    border-bottom: 2px solid #cccccc; /* Borde inferior gris */
    border-radius: 10px; /* Borde redondeado */
    color: #393F79; /* Color del texto del resumen */
}


.content {
    padding: 20px; /* Espaciado interno del contenido */
    font-size: 16px; /* Tamaño de fuente del contenido */
    line-height: 1.6; /* Altura de línea */
    color: #000000; /* Color del texto del contenido */
    text-align: left; /* Alineación del texto a la izquierda */
    margin-top: 15px; /* Margen superior del contenido */
}

.content > p {
    background-image: url('../../../assets/imagenes/soluciones/CIRCULO%20AZUL%20OSCURO.svg'); /* URL de tu imagen de fondo */
    background-position: 3.5px 16px; /* Posición manual de la imagen de fondo */
    background-size: 30px; /* Tamaño de la imagen de fondo */
    background-repeat: no-repeat; /* Evitar que se repita la imagen */
    padding: 20px; /* Espaciado interior para el contenido del párrafo */
    margin-bottom: -10px; /* Margen inferior */
    position: relative; /* Para posicionamiento interno */
}

.content > p::first-letter {
    color: white; /* Cambiar el color de la primera letra a blanco */
}